<ion-view view-title="关于他">
  <ion-content>

    <div class="list card cardupdate">

      <div  class="item item-icon-left" ng-click="goInfo(personInfo.partyId)">
        <i class="icon ion-ios-paper"></i>
        个人信息
        <div class="item item-avatar">
          <img ng-src="{{personInfo.headPortrait}}">
          <h2>{{personInfo.personName}} {{personInfo.gender}} </h2>
          <p>{{personInfo.company}}</p>
        </div>
      </div>

      <div  class="item item-icon-left" ng-click="goResources(personInfo.partyId)">
        <i class="icon ion-ios-people"></i>
        资源
      </div>
      <div  class="item item-icon-left" ng-click="goOrder(personInfo.name)">
        <i class="icon ion-ios-cart-outline"></i>
        订单
      </div>

      <div class="item item-icon-left" ng-click="gobusiness()">
        <i class="icon ion-android-plane"></i>
        事务
      </div>

      <dic class="item item-icon-left" ng-click="goEvents()">
        <i class="icon ion-ios-time-outline"></i>
        时间
      </dic>

    </div>


  </ion-content>
</ion-view>
