<ion-view title="关于我们" hide-tabs="true">
  <ion-nav-bar class="bar-light">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="$ionicGoBack()">
        <i class="icon  ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="../www/img/shareActivity/btn_梨友_n@2x.png" height="30" width="30"/>
        <h2>不分梨</h2>
        <p>version 0.1</p>
      </div>
      <div class="item item-body">
        <h2 style="text-align: center">强大的OFBIZ框架</h2>
        <p style="text-indent: 16px">
          OFBIZ是一个非常大型的开源ERP项目，它的设计理念除继承传统ERP
          如SAP等系统的成功经验外，还面向电子商务企业的需求做了大量优化开发。
          OFBIZ是一套包含编译打包部署工具、应用组件、示例应用等内容的企业级Web应用系统实现框架。
        </p>
        <p>
          <a href="#" class="subdued">上海班富电子商务有限责任公司</a>
        </p>
        <p>
          <a href="#" class="subdued">http://www.banff-tech.com/</a>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
