<ion-view view-title="活动详情">
  <div class="bar bar-header " style="margin-top: 35px" >
    <div class="row" >
      <ul class="slide-tab">
        <li ng-class="slideIndex == 0 ? 'current':''"><a  ng-click="activeSlide(0)">活动详情</a></li>
        <li ng-class="slideIndex == 1 ? 'current':''"><a  ng-click="activeSlide(1)">投票</a></li>
        <li ng-class="slideIndex == 2 ? 'current':''"><a  ng-click="activeSlide(2)">备用1</a></li>
        <li ng-class="slideIndex == 3 ? 'current':''"><a  ng-click="activeSlide(3)">备用2</a></li>
      </ul> <!-- / tabs -->
    </div>
  </div>
  <ion-content>
    <div class="list "  ng-if="bigImage" ng-click="hideBigImage()" style="margin-top: 80px">
      <h2>大图片</h2>
      <img ng-src="{{Url}}"/>
    </div>
    <div id="huodong">
    <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="slideIndex" class="has-header">
      <ion-slide >
          <div class="list"   >
            <div class="item">
              <img ng-src="{{activityList.img}}" class="full-image"/>
            </div>
            <div class="item">
              <label class="">
                <p><b>活动安排：{{activityList.title}}</b></p>
                时间：{{activityList.createTime}}
                组织者：{{activityList.name}}
                <p style="text-align:right"><button class="button button-small button-clear button-positive "  ng-click="showDiscuss()">3条评论</button></p>
              </label>
            </div>
            <br>
            <div class="list list-left-editing" style="display: none;" id="discuss">
              <ion-list>
                <h2>近期评论</h2>
                <hr>
                <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="Discuss in DiscussList ">
                  <img ng-src="{{Discuss.img}}">
                  <h3>{{Discuss.name}}</h3>
                  <p>{{Discuss.discuss}}</p>
                  <p>{{Discuss.date}}</p>
                </ion-item>
                <ion-item>
                  <p style="text-align:right"><button class="button button-small button-clear button-positive "  ng-click="showAddLab()">评论</button><button class="button button-small button-clear button-positive "  ng-click="hideDiscuss()">收起</button></p>
                </ion-item>
              </ion-list>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item">
                <i class="icon ion-ios-star-outline"></i>
                有兴趣
              </a>
              <a class="tab-item">
                <i class="icon ion-checkmark-round"></i>
                参与
              </a>
              <a class="tab-item">
                <i class="icon ion-share"></i>
                分享
              </a>
              <a class="tab-item" ng-click="showMessage()">
                <i class="icon ion-ios-more"></i>
                更多
              </a>
            </div>

            <div class="item">
              <label class="">
                <i class="icon ion-ios-clock"> {{activityList.createTime}}  {{activityList.time}}</i>
                <br>
                <i class="icon ion-ios-location"> {{activityList.address}}  {{activityList.addressDet}}</i>
              </label>
            </div>
            <div class="item">
              <label class="">
                <b>详细信息</b>
                {{activityList.information}}
              </label>
            </div>
            <div class="item">
              <br>
              <h2>照片墙</h2>
              <hr>
              <div class="row padding row-wrap">
                <div class="col col-33"
                     style="width: 100px;height: 100px;padding:3px;-webkit-box-shadow: 0 0 10px rgb(153,134,117);-moz-box-shadow:0 0 10px rgb(153,134,117);box-shadow:0 0 10px rgb(153,134,117);border-radius: 3px;margin: -1px 0 0 -1px;text-align: center" ng-repeat="picture in activityList.picture" ng-click="shouBigImage(picture.img)">
                  <img class="img-responsive" style="height: 100%;width: 100px; border:1px solid #ffffff;"
                       ng-src="{{picture.img}}">
                </div>
              </div>
            </div>

            <div class="item" >
              <button class="button button-block button-positive icon-left "  ng-click="tirarFoto()">
                获取地理定位
              </button>
              <div id="allmap" style="height: 300px;" ng-if="map"></div>
            </div>

            <div><p>参与人员：</p></div>
            <div class="item item-avatar" style="margin-left: -16px;">
              <img ng-src="{{imag.img}}" ng-repeat="imag in personList" style="
            top: 16px;
            max-width: 40px;
            max-height: 40px;
            width: 100%;
            height: 100%;
            border-radius: 50%;margin-left: 16px;">
            </div>
            <div class="row">
              <div class="col">
                <div class="col-demo">
                  <button class="button button-positive" style="width: 100%;">参与</button>
                </div>
              </div>
              <div class="col">
                <div class="col-demo">
                  <button class="button button-positive" style="width: 100%;">赞</button>
                </div>
              </div>
            </div>
          </div>
      </ion-slide>

      <ion-slide>
          <div  align="center">
            <h4>活动地点</h4>
            <table id="main" style="padding: 1px">
              <tr >
                <td>
                  <label>
                    <input type="radio" name="option" checked="checked"/>泰山
                  </label>
                </td>
              </tr>
              <tr>
                <td style="width:550px">
                  <div id=0 style="background-color:#acd6ff; width:0; height:20px; border-width:0;">
                  </div>
                </td>
                <td>
                  <label id="label0">0</label>票
                </td>
              </tr>
              <tr>
                <td>
                  <label>
                    <input type="radio" name="option"  />华山
                  </label>
                </td>
              </tr>
              <tr >
                <td>
                  <div id=1 style="background-color:#0066cc; height:20px; width:0; border-width:0; border-color:blue; border-style:solid ; text-align:right;" ></div>
                </td>
                <td>
                  <label id="label1">0</label>票
                </td>
              </tr>
              <tr >
                <td>
                  <label>
                    <input type="radio" name="option"  />黄山
                  </label>
                </td>
              </tr>
              <tr >
                <td>
                  <div id=2 style="background-color:#ff7575; height:20px;width:0;  border-width:0; border-color:blue; border-style:solid ; text-align:right;" ></div>
                </td>
                <td>
                  <label id="label2">0</label>票
                </td>
              </tr>
              <tr>
                <td>
                  <label>
                    <input type="radio" name="option" />其他
                  </label>
                </td>
              </tr>
              <tr >
                <td>
                  <div id=3 style="background-color:#5cadad;height:20px;width:0; border-width:0; border-color:blue; border-style:solid ; text-align:right;" ></div>
                </td>
                <td>
                  <label id="label3">0</label>票
                </td>
              </tr>
              <tr>
                <td><p>
                  <label>
                    <input type="button" value="确认投票" ng-click="vote()"/>
                  </label>
                </td>
              </tr>
            </table>
          </div>
      </ion-slide>

      <ion-slide>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
      </ion-slide>
      <ion-slide>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
        备用1<br>
      </ion-slide>
    </ion-slide-box>
    </div>
  </ion-content>
</ion-view>
