<ion-view view-title="活动详情">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="goback()">
        <i class="icon ion-android-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="openPopover($event)">
        <i class="icon ion-more"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content >
      <div class="list"   >
        <div class="item">
          <img ng-src="{{activityList.img}}" style="width: 100%;height: 200px;margin: 0"/>
        </div>
        <div class="item">
          <label class="">
            <p><b>活动安排：{{activityList.title}}</b></p>
            时间：{{activityList.createTime}}
            组织者：{{activityList.name}}
            <p style="text-align:right"><button class="button button-small button-clear button-positive "  ng-click="showDiscuss()">3条评论</button></p>
          </label>
        </div>
        <div class="list list-left-editing" style="display: none;" id="discuss">
          <ion-list>
            <h2>近期评论</h2>
            <hr>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="Discuss in DiscussList ">
              <img ng-src="{{Discuss.img}}">
              <h3>{{Discuss.name}}</h3>
              <p>{{Discuss.discuss}}</p>
              <p>{{Discuss.date}}</p>
            </ion-item>
            <ion-item>
              <p style="text-align:right"><button class="button button-small button-clear button-positive "  ng-click="showAddLab()">评论</button><button class="button button-small button-clear button-positive "  ng-click="hideDiscuss()">收起</button></p>
            </ion-item>
          </ion-list>
        </div>
        <div class="item">
          <label class="">
            <i class="icon ion-ios-clock"> {{activityList.createTime}}  {{activityList.time}}</i>
            <br>
            <i class="icon ion-ios-location"> {{activityList.address}}  {{activityList.addressDet}}</i>
          </label>
        </div>
        <div class="item item-text-wrap" >
            <b>详细信息</b>
            <p >&nbsp;&nbsp;{{activityList.information}}</p>
        </div>
        <div class="item">
          <br>
          <h2>照片墙</h2>
          <hr>
          <div class="row padding row-wrap">
            <div class="col col-33"
                 style="width: 100px;height: 100px;padding:3px;-webkit-box-shadow: 0 0 10px rgb(153,134,117);-moz-box-shadow:0 0 10px rgb(153,134,117);box-shadow:0 0 10px rgb(153,134,117);border-radius: 3px;margin: -1px 0 0 -1px;text-align: center" ng-repeat="picture in activityList.picture" ng-click="shouBigImage(activityList.id)">
              <img class="img-responsive" style="height: 100%;width: 100px; border:1px solid #ffffff;"
                   ng-src="{{picture.img}}">
            </div>
          </div>
        </div>
        <div class="item" >
          <button class="button button-block button-positive icon-left "  ng-click="tirarFoto()">
            获取地理定位
          </button>
          <div id="allmap" style="height: 300px;" ng-if="map"></div>
        </div>
        <div><p>参与人员：</p></div>
        <div class="item item-avatar" type="item-text-wrap" style="margin-left: -16px;" ng-click="openModal();" ng-controller="ActivityCrl">
          <img ng-src="{{imag.img}}" ng-repeat="imag in personList" style="
          top: 16px;
          max-width: 40px;
          max-height: 40px;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          margin-left: 16px;">
        </div>
      </div>
    <br>
    <br>
    <br>
    <br>
  </ion-content>
  <br>
  <br>
  <div class="bar bar-footer" style="margin-left: -6px;">
    <div class="tab-nav tabs">
      <a class="tab-item tab-item-active" style="line-height: 12px;" ng-click="goInfo(typeMy)">
        <i class="icon ion-chatbubble-working" style="line-height: 14px;">
        </i>
        <span class="tab-title ng-binding" style="font-size: 10px;">与他交谈</span>
      </a>
      <a class="tab-item tab-item-active" style="line-height: 12px;" ng-click="goInfo(typefinish)">
        <i class="icon icon-left ion-android-happy" style="line-height: 14px;">
        </i>
        <span class="tab-title ng-binding" style="font-size: 10px;">签到</span>
      </a>
      <div  style="float:right">
        <button class="button  button-positive ion-android-person-add" style="padding: 0;margin: 0;float: right;width: 150px;height: 47px;font-size: 20px" ng-click="showPopup()">我要报名</button>
      </div>
    </div>
  </div>
</ion-view>
