<ion-modal-view>
  <ion-header-bar>
    <button class="button button-icon  " menu-toggle="left" ng-click="">
      确定添加
    </button>
    <button class="button button-icon  " menu-toggle="left" ng-click="modal.hide()">
      取消
    </button>
  </ion-header-bar>
  <ion-content>
    <div>
      <h1>工序二：</h1><div class="item item-divider"><button style="margin-left: 10px;" ng-click="">引用历史工序</button></div>
    </div>
    <div class="list card cardupdate" style="margin: 5px 10px;">
      <div class="item" style="margin: -17px 0px;">
        <label class="">
          <span class="input-label">名称</span>
          <input type="text" placeholder="名称" value="">
        </label>
      </div>
    </div>
    <div class="list card cardupdate" style="margin: 5px 10px;">
      <div class="item" style="margin: -17px 0px;">
        <label class="">
          <span class="input-label">编号</span>
          <input type="text" placeholder="编号" value="">
        </label>
      </div>
    </div>
    <div class="list card cardupdate" style="margin: 5px 10px;">
      <div class="item" style="margin: -17px 0px;">
        <label class="">
          <span class="input-label">原料</span>
          <input type="text" placeholder="原料" value="">
        </label>
      </div>
    </div>
    <div class="list card cardupdate" style="margin: 5px 10px;">
      <div class="item" style="margin: -17px 0px;">
        <label class="">
          <span class="input-label">数量</span>
          <input type="text" placeholder="数量" value="">
        </label>
      </div>
    </div>
    <div class="list card cardupdate" style="margin: 5px 10px;">
      <div class="item" style="margin: -17px 0px;">
        <label class="">
          <span class="input-label">预计完成时间</span>
          <input type="text" placeholder="预计完成时间" value="">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="col-demo">
          <button class="button button-positive" style="width: 100%;">创建</button>
        </div>
      </div>
      <div class="col">
        <div class="col-demo">
          <button class="button button-assertive" style="width: 100%;">取消</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
