<ion-view view-title="活动">
  <ion-content>
    <div class="item item-input item-select" >
      <select>
        <option value="0" selected>近期活动</option>
        <option value="1">近三天</option>
        <option value="2">近一周</option>
        <option value="3">近一个月</option>
        <option value="4">近3个月</option>
      </select>
      <div class="input-label" style="float:right">
        <button class="button button-outline button-positive ion-compose"  ng-click="newActivity()">创建</button>
      </div>
    </div>
    <div>
      <textarea name="content" cols="36" rows="8"   style="border: 0px solid #888888;width:380px;height:150px;background-image: url('img/resources/anpai.jpeg');">近期没有活动安排
      </textarea>
    </div>
    <div class="content-bar" >
      <h3>热门</h3>
      <button class="pull-right button button-icon icon ion-ios-arrow-right "></button>
    </div>
    <ion-scroll direction="x" class="wide-as-needed">
      <a class="button" ng-repeat="matter in active" ng-click="activityDetails(matter.id)">
        <img ng-src="{{matter.img}}"style="width:260px;height:180px">
        <div class="huodong" >
          <br>
          <p><b>活动安排：{{matter.title}}</b></p>
          时间：{{matter.createTime}}
          地点：{{matter.address}}
        </div>
        <div class="item tabs">
          <p class="tab-item" href="#">
            参与：39位
          </p>
          <p class="tab-item" href="#">
            感兴趣：120位
          </p>
        </div>
      </a>
    </ion-scroll>
    </div>
  </ion-content>
</ion-view>
