<ion-view title="{{pageTitle}}">
  <ion-content>
    <div class="list card cardupdate" style="margin: 5px 10px;">
      <div class="item" style="margin: -17px 0px;">
        <label class="">
          <span class="input-label">供货商</span>
          <input type="text" placeholder="供货商" value="{{personInfo.name}}">
        </label>
      </div>
    </div>


    <div class="list card" style="margin-bottom: 40px;margin-top: 10px;">
      <div class="item item-divider"><b>资源</b><button style="margin-left: 10px;" ng-click="showResources()">添加资源</button></div>
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap">
          <img ng-src="{{resourcesNew.img}}">
          <h2>{{resourcesNew.title}} {{resourcesNew.company}}</h2>
          <p>{{resourcesNew.price}}</p>
          <label class="">
            <span class="input-label">数量</span>
            <input type="text" placeholder="数量" value="">
          </label>
          <ion-option-button class="button-assertive" ng-click="removeResourcesToOrder(resources)">
            删除
          </ion-option-button>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="resources in orderInfo.resources" type="item-text-wrap">
          <img ng-src="{{resources.img}}">
          <h2>{{resources.title}} {{resources.company}}</h2>
          <p>{{resources.price}}</p>
          <label class="">
            <span class="input-label">数量</span>
            <input type="text" placeholder="数量" value="">
          </label>
          <ion-option-button class="button-assertive" ng-click="removeResourcesToOrder(resources)">
            删除
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>



    <div class="row">
      <div class="col">
        <div class="col-demo">
          <button class="button button-positive" style="width: 100%;" ng-click="editOrderInfo()">下单</button>
        </div>
      </div>
      <div class="col">
        <div class="col-demo">
          <button class="button button-assertive" style="width: 100%;">取消</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
