<ion-view view-title="地址编辑">
    <ion-content>
        <div class="content ionic-pseudo">
            <div class="list card">
                <!--<div class="item item-input item-select">-->
                    <!--<div class="input-label">-->
                        <!--国家-->
                    <!--</div>-->
                    <!--<select>-->
                        <!--<option ng-repeat="country in provinceList" value="{{country.id}}">{{country.name}}</option>-->
                    <!--</select>-->
                <!--</div>-->
                <div class="item item-input item-select">
                    <div class="input-label">
                        省份
                    </div>
                    <select ng-model="stateProvinceGeoId" ng-change="changeProvince(stateProvinceGeoId);">
                        <option ng-repeat="province in provinceList" value="{{province.id}}">{{province.name}}</option>
                    </select>
                </div>
                <div class="item item-input item-select">
                    <div class="input-label">
                        市
                    </div>
                    <select ng-model="geoIdCity" ng-change="changeCity(geoIdCity);">
                        <option ng-repeat="city in cityList" value="{{city.id}}">{{city.name}}</option>
                    </select>
                </div>
                <div class="item item-input item-select">
                    <div class="input-label">
                        区
                    </div>
                    <select ng-model="geoIdArea">
                        <option ng-repeat="area in areaList" value="{{area.id}}">{{area.name}}</option>
                    </select>
                </div>
                <div class="item">
                    <label class="">
                        <span class="input-label">详细地址</span>
                        <!--<input type="text" placeholder="地址" value="{{address}}" style="width: 100%">-->
                        <textarea placeholder="地址" style="width: 100%;">{{data.address1}}</textarea>
                    </label>
                </div>
                <div class="item">
                    <label class="">
                        <span class="input-label">联系电话</span>
                        <input type="text" placeholder="联系电话" value="{{data.contactNumber}}" style="width: 100%">
                    </label>
                </div>
                <div class="item">
                    <label class="">
                        <span class="input-label">电子邮箱</span>
                        <input type="text" placeholder="电子邮箱" value="{{data.email}}" style="width: 100%">
                    </label>
                </div>
                <div class="item">
                    <button class="button button-block button-stable">提交</button>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
