<ion-view view-title="模版页">
  <ion-content>
    <div class="list">
      <div  style="width: 100%;height: 230px;position: relative">
        <ion-slide-box active-slide="myActiveSlide" auto-play="true" does-continue="true">
          <ion-slide ng-repeat="matter in active" >
            <img ng-src="{{matter.img}}" style="width:95%;height:220px;margin-top: 20px" >
            <div style="position: absolute;bottom: 40px;right: 56px">
              <p style="color: white"><b>活动安排：{{matter.title}}</b></p>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
  </ion-content>
</ion-view>
