<ion-modal-view ng-controller="floatCtrl">
  <ion-header-bar>
    <button class="button button-icon ion-plus-round " menu-toggle="left" ng-click="">
      确定添加
    </button>
    <button class="button button-icon  " menu-toggle="left" ng-click="closeModal()">
      取消
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="list card cardupdate" style="margin: 5px 10px;">
      <div class="item" style="margin: -17px 0px;">
          <div class="list"  ng-controller="selectAllCtrl">
            <ion-list>
              <label><ion-checkbox ng-model="qx" ng-click="selectAll(plist)">全选/全不选</ion-checkbox></label>
              <ion-checkbox name="selected" ng-repeat="personmain in plist" ng-model="personmain.checked" ng-click="selectOne(personmain)">
              <ion-item class="item-remove-animate item-avatar item-icon-right"  ng-click="addLablePerson(personmain.partyId)"   type="item-text-wrap">

                <img ng-src="{{personmain.img}}">

                <h2>{{personmain.name}} {{personmain.address}}</h2>
                <p> {{personmain.company}}</p>

              </ion-item>
              </ion-checkbox>
              <div class="row">
                <div class="col">
                  <div class="col-demo">
                    <button class="button button-positive" style="width: 100%;">收款</button>
                  </div>
                </div>
                <div class="col">
                  <div class="col-demo">
                    <button class="button button-positive" style="width: 100%;">取消</button>
                  </div>
                </div>
              </div>
            </ion-list>
          </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
