<ion-view title="手机号找回">
  <ion-nav-bar class="bar-light">
    <ion-nav-buttons side="left">
      <button class="button button-clear" ng-click="goHome()">
        <i class="icon  ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content id="login">
    <div class="content" style="padding-top: 44px">
      <form ng-submit="doLogin()">
        <label>
          <input type="tel" class="inputLogin" placeholder="    手机号码" ng-model="loginData.mobileNumber">
        </label>
        <label>
          <input type="tel" class="inputLogin" placeholder="    验证码" ng-model="loginData.captcha">
        </label>
        <label>
          <input class="buttonLogin" type="submit" value="完成">
        </label>
      </form>
      <div class="captcha">
        <button class="button button-clear button-dark" ng-controller="captcha"
                ng-click="getIdentifyCode(loginData.mobileNumber)">
          {{codeBtn}}
        </button>
      </div>
      <span>OR</span>
      <div style="text-align: center">
        <img src="../www/img/tabs/形状-2@2x.png" ng-click="wachatLogin()"/>
      </div>
    </div>
    <div id="wecat">
      <label>
        <input class="buttonLogin" type="button" value="微信找回" ng-click="wachatLogin()">
      </label>
    </div>

  </ion-content>
</ion-view>
