<ion-view view-title="Login">
  <div class="bar bar-header globalColor">
    <button class="button button-clear" ng-click="goHome()">
      <i class="icon ion-home" style="color: white">活动</i>
    </button>
    <!--<button class="button button-clear" ng-click="goRegister()">-->
      <!--<i class="icon ion-compose" style="color: white">注册</i>-->
    <!--</button>-->
  </div>
  <ion-content style="background-image: url(../www/img/theme/login.jpeg);background-size: 100% 100%;">
    <div class="content has-header" style="position: relative;z-index:0;">
      <form ng-submit="doLogin()" style="opacity:0.8">
        <div class="list" style="padding-top: 40%">
          <h3  style="text-align: center;font-weight: normal;padding-bottom: 10%;color: white">用户登陆</h3>
          <label class="item item-input">
            <span class="input-label text-center">手机号码</span>
            <input type="tel" ng-model="loginData.mobileNumber">
          </label>
          <label class="item item-input" >
            <span class="input-label text-center">验证码</span>
            <input type="tel" ng-model="loginData.captcha">
          </label>
          <label class="item" style="margin-bottom: 0">
            <button class="button button-block globalColor" type="submit">登 录</button>
          </label>
        </div>
      </form>
      <div>
        <label>
          <input type="button" ng-value="codeBtn" ng-controller="captcha" ng-click="getIdentifyCode(loginData.mobileNumber)" style="background-color:rgb(57,184,152);text-align: center;text-indent: 8px;z-index:3;position: absolute;top:65%;right: 5%;opacity:0.8">
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>
