<ion-modal-view>
  <ion-header-bar>
    <button class="button button-icon ion-plus-round " menu-toggle="left" ng-click="">
      确定添加
    </button>
    <button class="button button-icon  " menu-toggle="left" ng-click="material.hide()">
      取消
    </button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate  item-icon-right item-text-wrap" ng-repeat="personmain in devList">
          <p><b>原料：</b>{{personmain.text}}</p>
          <br>
          <p>用量：</p>
          <label class="item item-input" >
          <p><input type="text" id="yongliang" placeholder="" ></p>
          </label>
          <button ng-click="goInfo()">选择</button>
      </ion-item>
    </ion-list>
  </ion-content>
  </ion-view>
</ion-modal-view>
