<ion-modal-view>
  <ion-header-bar>
    <button class="button button-icon ion-plus-round " menu-toggle="left" ng-click="">
      确定添加
    </button>
    <button class="button button-icon  " menu-toggle="left" ng-click="material.hide()">
      取消
    </button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate  item-icon-right item-text-wrap" ng-repeat="personmain in devList">
        <label class="item item-input">
          <p><b>原料：</b>{{personmain.text}}&nbsp;&nbsp;</p>
          用量：<input type="text" placeholder="">
          <button ng-click="goInfo(personmain.text)">选择</button>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
  </ion-view>
</ion-modal-view>
