<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar  globalColor">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left" >
        <button class="button button-icon  ion-navicon "  menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" ng-controller="myInfo">
    <ion-header-bar class="globalColor">
      <h1 class="title">关于我</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item>
          <a class="item">
            <div class="item item-avatar">
              <img ng-src="{{img}}">
              <div style="margin-top: 8px;color: #33cd5f">{{myInfoList.personName}}</div>
            </div>
          </a>
          <a class="item">
            <div style="font-weight: bold;">电话:</div>
            {{myInfoList.contactNumber}}
          </a>
          <a class="item">
            <div style="font-weight: bold;">邮箱:</div>
          </a>
          <a class="item" menu-close ui-sref="app.contactlist">
            <div style="font-weight: bold;">联系人</div>
          </a>
          <a class="item" menu-close ui-sref="app.activityHome">
            <div style="font-weight: bold;">我的活动</div>
          </a>
          <a class="item" menu-close ui-sref="login">
            <div style="font-weight: bold;">用户登陆</div>
          </a>
          <a class="item" menu-close ng-click="getActivityCode()">
            <div style="font-weight: bold;">扫码二维码</div>
          </a>
          <a class="item" menu-close ng-click="loginOut()">
            <div style="font-weight: bold;">退出登陆</div>
          </a>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
