<ion-popover-view style="margin-top: 13px;height: 245px;width: 120px">
  <ion-content>
    <div class="list">
      <p>
        <button class="button  button-full icon-left ion-compose" ng-click="closePopover()">活动详情</button>
      </p>
      <p>
        <button class="button button-full icon-left ion-laptop" ui-sref="app.goCastVote">相关投票</button>
      </p>
      <p>
        <button class="button button-full icon-left ion-speakerphone" ng-click="">活动讨论</button>
      </p>
      <p>
        <button class="button button-full icon-left ion-flag" ng-click="relatedActivity('related')">相关活动</button>
      </p>
    </div>
  </ion-content>
</ion-popover-view>
