<ion-view view-title="我的资源">
  <ion-content>
    <div class="content">
      <div class="list list-inset" style="margin-top: 5px;margin-bottom: 5px;">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <div class="col col-50">
          <ion-item class="item" style="height:100%; width:100%"  type="item-text-wrap" ng-click="goInfo(resourcesList1.id)">
            <div class="item item-body">
              <img class="item item-image" style="height:20%; width:100%" src="{{resourcesList1.descImg}}">
              <p>{{resourcesList1.title}}</p>
            </div>
            <div class="item tabs">
              <a class="tab-item" href="#">
                喜欢
              </a>
              <a class="tab-item" href="#">
                评论
              </a>
              <a class="tab-item" href="#">
                分享
              </a>
            </div>
          </ion-item>
        </div>
        <div class="col col-50">
          <ion-item class="item" style="height:100%; width:100%"  type="item-text-wrap" ng-click="goInfo(resourcesList2.id)">
            <div class="item item-body">
              <img class="item item-image" style="height:20%; width:100%" src="{{resourcesList2.descImg}}">
              <p>{{resourcesList2.title}}</p>
            </div>
            <div class="item tabs">
              <a class="tab-item" href="#">
                喜欢
              </a>
              <a class="tab-item" href="#">
                评论
              </a>
              <a class="tab-item" href="#">
                分享
              </a>
            </div>
          </ion-item>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <ion-item class="item" style="height:100%; width:100%"  type="item-text-wrap" ng-click="goInfo(resourcesList3.id)">
            <div class="item item-body">
              <img class="item item-image" style="height:20%; width:100%" src="{{resourcesList3.descImg}}">
              <p>{{resourcesList3.title}}</p>
            </div>
            <div class="item tabs">
              <a class="tab-item" href="#">
                喜欢
              </a>
              <a class="tab-item" href="#">
                评论
              </a>
              <a class="tab-item" href="#">
                分享
              </a>
            </div>
          </ion-item>
        </div>
        <div class="col col-50">
          <ion-item class="item" style="height:100%; width:100%"  type="item-text-wrap" ng-click="goInfo(resourcesList4.id)">
            <div class="item item-body">
              <img class="item item-image" style="height:20%; width:100%" src="{{resourcesList4.descImg}}">
              <p>{{resourcesList4.title}}</p>
            </div>
            <div class="item tabs">
              <a class="tab-item" href="#">
                喜欢
              </a>
              <a class="tab-item" href="#">
                评论
              </a>
              <a class="tab-item" href="#">
                分享
              </a>
            </div>
          </ion-item>
        </div>
    </div>
   </div>
  </ion-content>
</ion-view>
