<ion-view view-title="我的资源">
  <ion-content>
    <div class="content">
      <div class="list list-inset" style="margin-top: 5px;margin-bottom: 5px;">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="resources in resourcesList" type="item-text-wrap" ng-click="goInfo(resources.id)">
        <img ng-src="{{resources.descImg}}">

        <p>{{resources.desc}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
