<ion-view view-title="新建活动">
  <ion-content>
    <div class="content ionic-pseudo">
      <div class="list card">
        <div class="item">
          <label class="">
            <input type="text" placeholder="活动标题" value="{{myActivtyList.title}}" style="width: 100%"  ng-model="ActivityData.workEffortName">
          </label>
        </div>
        <div class="item">
            <!--<button class="button button-assertive" id="startDate">活动开始日期</button>-->
            <!--<button class="button button-assertive" id="startTime">活动开始时间</button>-->
            <input type="text" placeholder="活动开始日期" value="{{myActivtyList.createTime}}" style="width: 45%;display: inline-block" id="startDate" ng-click="openDatePicker('start')" >
            <input type="text" placeholder="活动开始时间" value="{{myActivtyList.createTime}}" style="width: 45%;float: right;" id="startTime" ng-click="openTimePicker('start')" ng-model="ActivityData.startTime">
        </div>
        <div class="item">
            <input type="text" placeholder="活动结束日期" value="" style="width: 45%;display: inline-block" id="endDate" ng-click="openDatePicker('end')" >
            <input type="text" placeholder="活动结束时间" value="" style="width: 45%;float: right;" id="endTime" ng-click="openTimePicker('end')" ng-model="ActivityData.endTime">
        </div>
        <div class="item">
          <label class="">
            <input type="text" placeholder="活动举办地点" value="{{myActivtyList.address}}{{myActivtyList.addressDet}}" style="width: 100%" ng-model="ActivityData.address">
          </label>
        </div>
        <div class="item">
          <label class="">
            <textarea name="a" style="width:330px;height:150px;" placeholder="填写活动描述，让更多的人参与活动" ng-model="ActivityData.information">{{myActivtyList.information}}</textarea>
          </label>
        </div>
        <div class="item" ng-click="visualRange()" >
          <label class="">
            <span class="input-label" style="float: left" >可见范围</span>
            <input id="range" class="input-label" style="float: right;text-align: right;border: 0;width: 100%" value="">
          </label>
        </div>
        <div class="item">
          <label>
            <button class="button button-block button-stable" ng-click="selectImg()">添加背景图片</button>
            <img ng-src="{{imageSrc}}{{myActivtyList.img}}"  id="myImage">
          </label>
        </div>
        <div class="item" >
          <div class="row  row-wrap">
            <div class="col col-20 full-image" ng-repeat="image in myActivtyList.picture">
              <img ng-src={{image.img}} width="100%"/>
            </div>
          </div>
          <div class="row row-wrap">
            <div class="col col-20 full-image" ng-repeat="image in imageSrc1">
              <img ng-src={{image}} width="100%"/>
            </div>
          </div>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" ng-click="getPhoto()">
            <i class="icon ion-images"></i>
            照片墙
          </a>
          <a class="tab-item" ng-click="inviteFriends('invite')">
            <i class="icon ion-android-list"></i>
            邀请好友
          </a>
          <a class="tab-item" ng-click="newTask()">
            <i class="icon ion-share"></i>
            分享
          </a>
          <a class="tab-item" ng-click="openModal()">
            <i class="icon ion-android-happy"></i>
            签到
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="col-demo">
          <button class="button button-positive" style="width: 100%;" ng-click="createNewActivity()">提交</button>
        </div>
      </div>
      <div class="col">
        <div class="col-demo">
          <button class="button button-assertive" style="width: 100%;">取消</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
