<ion-view view-title="新建活动">
  <ion-content>
    <div class="content ionic-pseudo">
      <div class="list card">
        <div class="item">
          <label class="">
            <button class="button button-block button-stable" ng-click="selectImg()">添加背景图片</button>
            <img ng-src="{{imageSrc}}"  id="myImage" class="full-image" >
            <ion-list>
              <div class="row row-wrap">
                <div class="col full-image" ng-repeat="image in imageSrc1">
                  <img src={{image}} width="100%"/>
                </div>
              </div>
            </ion-list>
          </label>
        </div>
        <div class="item">
          <label class="">
            <input type="text" placeholder="活动标题" value="" style="width: 100%"></span>
          </label>
        </div>
        <div class="item">
          <label class="">
            <textarea name="a" style="width:330px;height:150px;" placeholder="填写活动描述，让更多的人参与活动"></textarea>
          </label>
        </div>
        <div class="item">
          <label class="">
            <input type="datetime-local" placeholder="时间" value="" style="width: 100%">
          </label>
        </div>
        <div class="item">
          <label class="">
            <input type="text" placeholder="地点" value="" style="width: 100%">
          </label>
        </div>
        <div class="item">
          <ion-toggle class="handle">
            宾客可以邀请好友
          </ion-toggle>
        </div>
        <div class="item">
          <label class="">
            <button class="button button-outline button-positive ion-paper-airplane"  ng-click="openModal()">推送好友</button>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="col-demo">
          <button class="button button-positive" style="width: 100%;">创建</button>
        </div>
      </div>
      <div class="col">
        <div class="col-demo">
          <button class="button button-assertive" style="width: 100%;">取消</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
