<ion-view title="标签">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-plus ion-navicon" menu-toggle="right" ng-click="showAddLab();">
    </button>
      <input type="hidden" ng-model="data.addLabel">
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <div class="list" ng-repeat="label in labelList.lable" style="margin-bottom: 5px;" ng-click="goLabelInPerson(label.partyId)">
        <div class="item item-toggle toggle-large ng-not-empty ng-valid" style="">
          <div>
            <span>
              {{label.groupName}}
            </span>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
