<ion-view title="标签">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-plus ion-navicon" menu-toggle="right" ng-click="showAddLab();">
    </button>
      <input type="hidden" ng-model="data.addLabel">
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate  item-icon-right" ng-repeat="label in labelList.lable" ng-click="goLabelInPerson(label.partyId)" type="item-text-wrap">
        <h2>{{label.groupName}}</h2>
        <ion-option-button class="button-assertive" ng-click="deleteLable(label.partyId)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
