<ion-view title="我的订单明细">
  <ion-content>
    <div class="list">
      <div class="list card" style="margin-bottom: 40px;">
        <div class="item item-divider"><b>订单头</b></div>
        <table class="item">
          <tr>
            <td style="text-align: right">订单 ID</td>
            <td>&nbsp;&nbsp;&nbsp;{{orderInfo.orderId}}</td>
          </tr>
          <tr>
            <td style="text-align: right"> 订单类型</td>
            <td>&nbsp;&nbsp;&nbsp;{{orderInfo.orderType}}</td>
          </tr>
          <tr>
            <td style="text-align: right"> 订单状态</td>
            <td>&nbsp;&nbsp;&nbsp;{{orderInfo.orderStatus}}</td>
          </tr>
          <tr>
            <td style="text-align: right">参与人员</td>
            <td>&nbsp;&nbsp;&nbsp;{{orderInfo.name}}</td>
          </tr>
          <tr>
            <td style="text-align: right">支付方式</td>
            <td>&nbsp;&nbsp;&nbsp;{{orderInfo.paymentMethod}}</td>
          </tr>
          <tr>
            <td style="text-align: right">订单金额</td>
            <td>&nbsp;&nbsp;&nbsp;{{orderInfo.grandTotal}}</td>
          </tr>
          <tr>
            <td style="text-align: right">收货地址</td>
            <td>&nbsp;&nbsp;&nbsp;{{orderInfo.address}}</td>
          </tr>
          <tr>
            <td style="text-align: right">电话号码</td>
            <td>&nbsp;&nbsp;&nbsp;{{orderInfo.phoneNumber}}</td>
          </tr>
          <tr>
            <td style="text-align: right">订单创建时间</td>
            <td>&nbsp;&nbsp;&nbsp;{{orderInfo.orderTime}}</td>
          </tr>
          <tr>
            <td style="text-align: right">最后更新时间</td>
            <td>&nbsp;&nbsp;&nbsp;{{orderInfo.lastUPdateTime}}</td>
          </tr>
        </table>
      </div>
      <div class="list card" style="margin-bottom: 40px;margin-top: -30px;" ng-if="orderInfo.adjustment != null ">
        <div class="item item-divider"><b>订单调整</b></div>
        <table class="item">
          <tr ng-repeat="adjustment in orderInfo.adjustment">
            <td style="text-align: right">{{adjustment.adjustmentReason}}&nbsp;{{adjustment.adjustmentPrice}} {{adjustment.createBy}}</td>
          </tr>
        </table>
      </div>
      <div class="" ng-repeat="itemInfo in itemList" >
        <div class="list card" style="margin-top: -30px;">
          <div class="item item-divider"><b>订单项{{$index+1}}</b> &nbsp;&nbsp;&nbsp;{{itemInfo.productName}}
          </div>
          <table class="item" ng-click="goInfoPro(itemInfo.productionId)">
            <tr>
              <td style="text-align: right">生产 ID</td>
              <td>&nbsp;&nbsp;&nbsp;{{itemInfo.productionId}}</td>
            </tr>
            <tr>
              <td style="text-align: right">货运 ID</td>
              <td>&nbsp;&nbsp;&nbsp;{{itemInfo.shipId}}</td>
            </tr>
            <tr>
              <td style="text-align: right">货运单号</td>
              <td>&nbsp;&nbsp;&nbsp;{{itemInfo.kd_code}}</td>
            </tr>
            <tr>
              <td style="text-align: right">产品 ID</td>
              <td>&nbsp;&nbsp;&nbsp;{{itemInfo.productId}}</td>
            </tr>
            <tr>
              <td style="text-align: right">预计交付时间</td>
              <td>&nbsp;&nbsp;&nbsp;{{itemInfo.estimateTiem}}</td>
            </tr>
            <tr>
              <td style="text-align: right">价格</td>
              <td>&nbsp;&nbsp;&nbsp;{{itemInfo.price}}</td>
            </tr>
            <tr>
              <td style="text-align: right">数量</td>
              <td>&nbsp;&nbsp;&nbsp;{{itemInfo.number}}</td>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;<button class="button" ng-click="receiveOne(itemInfo)">接收</button></td></tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col" style="margin-top: -25px;">
          <div class="col-demo">
            <button class="button button-positive" style="width: 100%;" ng-click="receiveAll();">完成订单</button>
          </div>
        </div>
        <div class="col" style="margin-top: -25px;">
          <div class="col-demo">
            <button class="button button-assertive" style="width: 100%;">取消</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
