<ion-view title="采购订单">
  <ion-content>
    <ion-list>
      <div>
        <div class="content" ng-repeat="order in purOrderList" style="margin-top: -18px;" ng-click="goInfo(order.orderId)">
          <div class="list card cardupdate">
            <div class="item item-avatar">
              <img ng-src="{{order.img}}">
              <h2>{{order.name}} {{order.company}}</h2>
              <p>{{order.address}}</p>
            </div>
            <div class="item item-body">
              <p>
                {{order.desc}}
              </p>
              <p>
                <a class="subdued">{{order.collect}} 收藏</a>
                <a class="subdued">{{order.comments}} 评论</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
