<ion-view view-title="Login">
  <ion-content>
    <div class="bar bar-header bar-light">
      <h1 class="title">用户注册</h1>
      <button class="button button-clear" ng-click="goLogin()">
        <i class="icon ion-arrow-return-left icon-left"></i>
      </button>
    </div>
    <div class="content has-header">
      <form ng-submit="doRegister()">
        <div class="list">
          <label class="item item-input">
            <span class="input-label text-center">用户姓名</span>
            <input type="text" ng-model="loginData.nickname">
          </label>
          <label class="item item-input">
            <span class="input-label text-center">手机号码</span>
            <input type="tel" ng-model="loginData.telephone">
          </label>
          <label class="item item-input">
            <span class="input-label text-center">验证码</span>
            <input type="tel" ng-model="loginData.captcha">
          </label>
          <label class="item">
            <button class="button button-block button-dark" type="submit">注册</button>
          </label>
        </div>
      </form>
      <div>
        <label>
          <input type="button" ng-value="codeBtn" ng-controller="captcha"
                 ng-click="getIdentifyCodeReg(loginData.telephone)"
                 style="background-color:#B9B9B9;text-align: center;text-indent: 8px;z-index:3;position: absolute;top:45%;right: 5%">
        </label>
      </div>
      <span ng-bind="msg"
            style="width:300px;display: block;text-align: center;font-weight: bold;color: red;position: absolute;bottom:-20%"></span>
    </div>
  </ion-content>
</ion-view>
