<ion-view view-title="Search">
  <ion-content>
    <div align="center"></div>
    <div  align="center">
      <h4>活动地点</h4>
      <table id="main" >
        <tr >
          <td>
            <label>
              <input type="radio" name="option" checked="checked"/>泰山
            </label>
          </td>
        </tr>
        <tr>
          <td style="width:550px">
            <div id=0 style="background-color:#acd6ff; width:0; height:20px; border-width:0px;">
            </div>
          </td>
          <td>
            <label id="label0">0</label>票
          </td>
        </tr>
        <tr>
          <td>
            <label>
              <input type="radio" name="option"  />华山
            </label>
          </td>
        </tr>
        <tr >
          <td>
            <div id=1 style="background-color:#0066cc; height:20px; width:0; border-width:0px; border-color:blue; border-style:solid ; text-align:right;" ></div>
          </td>
          <td>
            <label id="label1">0</label>票
          </td>
        </tr>
        <tr >
          <td>
            <label>
              <input type="radio" name="option"  />黄山
            </label>
          </td>
        </tr>
        <tr >
          <td>
            <div id=2 style="background-color:#ff7575; height:20px;width:0;  border-width:0px; border-color:blue; border-style:solid ; text-align:right;" ></div>
          </td>
          <td>
            <label id="label2">0</label>票
          </td>
        </tr>
        <tr>
          <td>
            <label>
              <input type="radio" name="option" />其他
            </label>
          </td>
        </tr>
        <tr >
          <td>
            <div id=3 style="background-color:#5cadad;height:20px;width:0; border-width:0px; border-color:blue; border-style:solid ; text-align:right;" ></div>
          </td>
          <td>
            <label id="label3">0</label>票
          </td>
        </tr>
        <tr>
          <td><p>
            <label>
              <input type="button" value="确认投票" ng-click="vote()"/>
            </label>
          </td>
        </tr>
      </table>
    </div>
  </ion-content>
</ion-view>
