<ion-view view-title="购物车">
  <ion-content>
    <div class="content">
      <div class="list list-inset" style="margin-top: 5px;margin-bottom: 5px;">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>
    </div>
    <div class="list" style="margin-bottom: 50px;">
        <ion-checkbox  ng-repeat="shoppingcart in shoppingCartList" >
          <a class="item item-thumbnail-left" href="#" type="item-text-wrap">
            <img ng-src="{{shoppingcart.descImg}}">
            <h2>{{shoppingcart.desc}}</h2>
            <p>{{shoppingcart.company}}</p>
            <input type="text" placeholder="数量" value="">
            <p style="color: #ff3b30">￥{{shoppingcart.price}}</p>
          </a>
        </ion-checkbox>
    </div>

  </ion-content>
  <div class="bar bar-footer" >
    <div class="row">
      <div class="col">
        <div class="col-demo">
          <button class="button button-positive" style="width: 100%;" >全选</button>
        </div>
      </div>
      <div class="col">
        <div class="col-demo">
          <button class="button button-assertive" style="width: 100%;" ng-click="editOrderInfo()">去结算</button>
        </div>
      </div>
    </div>
  </div>
</ion-view>
