<ion-view title="库存">
  <ion-content style="margin-bottom: 44px;">
    <div class="content">
      <div class="list list-inset" style="margin-top: 5px;margin-bottom: 5px;">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>
    </div>
    <ion-list>
      <div class="list">
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="stock in stockList | orderBy:'inventoryDate':true" type="item-text-wrap" ng-href="#/app/stockList/{{stock.productId}}">
          <img ng-src="{{stock.img}}">
          <h2><b>{{stock.name}}</b> {{stock.supplier}}</h2>
          <p>数量({{stock.quantityPromise}})</p>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer" style="margin-left: -6px;">
    <div class="tab-nav tabs">
      <a class="tab-item tab-item-active" href="#/app/receivePurOrderList">
        <button class="button button-light" style="width: 80px;height: 100%;" ng-click="">接收采购</button>
      </a>
      <a class="tab-item tab-item-active" href="#/app/receiveStock">
        <button class="button button-light" style="width: 80px;height: 100%;">直接入库</button>
      </a>
    </div>
  </div>
</ion-view>
