<div class="modal">
  <div class="bar bar-header">
    <button class="button" style="position: absolute; left: 5px;" ng-click="hideStockOut();">保存</button>
    <button class="button" style="position: absolute;right: 5px;" ng-click="hideStockOut();">关闭</button>
  </div>
  <ion-content>
  <div class="list" style="margin-top: 44px;">
    <label class="item item-input">
      <span class="input-label" style="text-align: right">品名：</span>
      <div>{{inventoryInfo.name}}</div>
    </label>
    <label class="item item-input">
      <span class="input-label" style="text-align: right">总数量：</span>
      <div>{{inventoryInfo.quantityAccount}}</div>
    </label>
    <label class="item item-input">
      <span class="input-label" style="text-align: right">现货：</span>
      <div>{{inventoryInfo.quantityOnHead}}</div>
    </label>
    <label class="item item-input">
      <span class="input-label" style="text-align: right">有效数量：</span>
      <div>{{inventoryInfo.quantityPromise}}</div>
    </label>
    <label class="item item-input">
      <span class="input-label" style="text-align: right">入库时间：</span>
      <div>{{inventoryInfo.inventoryDate | date:"yyyy-MM-dd"}}</div>
    </label>
    <label class="item item-input">
      <span class="input-label" style="text-align: right">供应商：</span>
      <div>{{inventoryInfo.supplier}}</div>
    </label>
    <label class="item item-input">
      <span class="input-label" style="text-align: right">库存状态：</span>
      <div>{{inventoryInfo.statu}}</div>
    </label>
    <label class="item item-input">
      <span class="input-label" style="text-align: right">出库数量：</span>
      <input type="number" max="100"/>
    </label>
    <label class="item item-input">
      <span class="input-label" style="text-align: right">领料人：</span>
      <input type="text"/>
    </label>
    <label class="item item-input">
      <span class="input-label" style="text-align: right">领料目的：</span>
      <textarea></textarea>
    </label>
  </div>
  </ion-content>
</div>
