<ion-view title="联系人">
  <ion-nav-bar>
  </ion-nav-bar>
  <ion-content>
    <ion-list class="contact">
      <ion-item class="my-item item-divider-chats"
                ng-click="goContactInfo(item.partyId)"
                ng-repeat="item in getContacts()"
                item-height="getItemHeight(item)"
                id="{{ item.isLetter ? (item.letter + '_divider') : ''}}"
                ng-style="{'line-height': getItemHeight(item) + 'px'}"
                ng-class="{'item-divider': item.isLetter}">
        <img ng-if="!item.isLetter" ng-src="{{item.headPortrait}}">
        {{item.letter || (item.first_name)}} <span ng-if="!item.isLetter&&item.appUser=='Y'">不分梨用户</span>
    </ion-list>
  </ion-content>
</ion-view>

