<ion-view title="我参与的活动"  hide-nav-bar="false">
  <ion-nav-bar class="globalColor">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="getActivityCode()">
        <i class="icon  ion-qr-scanner globalColorButton"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    <div class="event-list" ng-repeat="item in active">
      <div class="event-top" ng-click="activityDetails(item.workEffortId)">
        <div><img ng-src="{{ item.objectInfo }}"></div>
        <div>
          <h3>{{ item.workEffortName }}</h3>
          <p><i class="icon activityTimer"></i>{{item.actualStartDate|date:'yyyy年MM月dd HH:mm'}}</p>
          <p><i class="icon activityLocation"></i>{{ item.locationDesc }}</p>
          <p class="organizer-home"><i class="icon ion-ios-circle-outline activityOrganizer"></i> {{item.adminFirstName}} <em>发起</em></p>
        </div>
      </div>
      <div class="event-bottom">
        <div class="join-count">
          <button>
            {{item.joinsCount}}人参与
          </button>
        </div>
        <div class="from-start">
          <button>
            {{item.exDay}}
          </button>
        </div>
      </div>
    </div>
  </ion-content>
  <div style="height:100%;position: relative;" ng-if="activityHomeNull">
    <img ng-src="../www/img/tabs/矢量智能对象@2x.png" height="225" width="305" style="margin: 40% 10%"/>
    <p class="tipTextAct" id="box">您还没有活动是否要新建？</p>
    <p class="history" id="history" ng-click="getHistory()">找回历史活动</p>
  </div>
</ion-view>
