<ion-view hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-dark">
    <div class="h1 title">活动( {{quantity }} )</div>
    <div class="buttons">
      <button class="button no-animation button-icon icon ion-ios-photos-outline" ng-click="Management()">
      </button>
    </div>
  </ion-header-bar>
  <ion-content on-swipe-left="onSwipeLeft()">
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    <ion-list rj-close-back-drop>
      <ion-item class="item-avatar" ng-class="{'rj-item-top': message.isTop}" on-hold="popupMessageOpthins(message)"
                rj-hold-active ng-repeat="message in activtyList | orderBy:['isTop', 'lastMessage.timeFrome1970']:true"
                ng-click="activityDetails(message.workEffortId)">
        <div class="act-gridding">
          <div class="row  row-wrap" style="padding: 0;margin: 0">
            <div class="col col-33" style="padding: 0;margin: 0" ng-repeat="picture in message.partyHeadImgList"
                 ng-click="shouBigImage($index,picture.firstName)">
              <img class="img-responsive" style="width: 13px;height: 13px;" ng-src="{{picture.headPortrait}}">
            </div>
          </div>
        </div>
        <span class="rj-sm-red-icon" ng-show="message.showHints"><p ng-bind="message.noReadMessages"></p></span>
        <h2 ng-bind="message.workEffortName"></h2>
        <p class="rj-list-p" ng-bind="message.exDay"></p>
        <span class="rj-push-right" ng-bind="message.adminFirstName"></span>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="activityNull" ng-if="activityHomeNull">
    <img ng-src="../www/img/tabs/矢量智能对象@2x.png"/>
    <p class="tipTextAct" id="box">您还没有活动是否要新建？</p>
    <p class="history" id="history" ng-click="getHistory()">找回历史活动</p>
  </div>
</ion-view>

