<ion-view title="联系人" hide-nav-bar="false">
  <ion-nav-bar class="bar-light">
  </ion-nav-bar>
  <ion-content>
    <ion-list class="contact">
      <ion-item class="my-item item-divider-chats"
                ng-click="goContactInfo(item.partyId)"
                ng-repeat="item in getContacts() track by $index"
                item-height="getItemHeight(item)"
                id="{{ item.isLetter ? (item.letter + '_divider') : ''}}"
                ng-style="{'line-height': getItemHeight(item) + 'px'}"
                ng-class="{'item-divider': item.isLetter}">
        <img ng-if="!item.isLetter" ng-src="{{item.headPortrait}}">
        {{item.letter || (item.first_name)}} <span ng-if="!item.isLetter&&item.appUser=='Y'">不分梨用户</span>
      </ion-item>
    </ion-list>
    <div class="empty" ng-if="!getContacts().length>0">这里会出现活动中的好友</div>
  </ion-content>
</ion-view>

