<ion-view hide-nav-bar="true">
  <ion-header-bar align-title="left" class="bar-light">
    <div class="h1 title" ui-sref="tab.account">
      <i class="icon ion-grid" style="margin-right: 5px;vertical-align: middle;font-size: 31px"></i>
      {{ActivityListType}}( {{quantity }} )
    </div>
    <div class="buttons">
      <button class="button no-animation button-icon icon ion-more" ng-click="Management()">
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
      <ion-item class="item-avatar""
                 ng-repeat="message in activtyList"
                ng-click="activityDetails(message.workEffortId)">
        <div class="act-gridding">
          <div class="row  row-wrap" style="padding: 0;margin: 0">
            <div class="col col-33" style="padding: 0;margin: 0" ng-repeat="picture in message.partyHeadImgList"
                 ng-click="shouBigImage($index,picture.firstName)">
              <img class="img-responsive" style="width: 13px;height: 13px;" ng-src="{{picture.headPortrait}}">
            </div>
          </div>
        </div>
        <div>
          <h2 style="width: 80%" ng-bind="message.workEffortName"></h2>
          <p  ng-bind="message.locationDesc"></p>
          <p  ng-bind="message.exDay"></p>
          <span class="rj-push-right" ng-bind="message.adminFirstName"></span>
        </div>
        <ion-option-button class="button-assertive"
                           ng-click="deleteActivity(message.workEffortId,message.joinsCount,message.adminPartyId)">
          退出
        </ion-option-button>
        <ion-option-button class="button-stable" ng-if="ActivityListType!='隐藏的活动'"
                           ng-click="hideActivity(message.workEffortId)">
          隐藏
        </ion-option-button>
        <ion-option-button class="button-calm" ng-if="ActivityListType=='隐藏的活动'"
                           ng-click="showActivity(message.workEffortId)">
          还原
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="activityNull" ng-if="!activtyList.length>0">
    <!--<img ng-src="../www/img/tabs/空状态 350X350px@2x.png"/>-->
    <p class="tipTextAct" id="box" ng-click="openModal()">您还没有活动是否要新建？</p>
    <p class="history" id="history" ng-click="getHistory()">找回历史活动</p>
  </div>
</ion-view>

