<ion-view title="活动账单" hide-tabs="true">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="goBack()">
        <i class="icon  ion-ios-arrow-back "></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content id="activityBill">
    <div class="list card" ng-repeat="item in billList">
      <div class="item">
        <h3 style="text-align: center">{{item.paymentGroupName}}</h3>
        <p style="float: right" ng-click="billShare(item.paymentGroupId,item.paymentGroupName)"><b>微信分享</b></p>
        <p>单位:元</p>
        <hr>
        <div class="partition" ng-repeat="member in item.memberList">
          <span>{{member.firstName}}</span>
          <input type="text" name="{{member.paymentId}}" ng-model="member.amount" ng-change="onfocus(member.paymentId)">
          <button class="Payment-edit" id="{{member.paymentId}}" ng-click="updatePaymentAmount(member.paymentId)">修改
          </button>
          <button class="Payment-status" ng-click="partyPay(member.partyIdFrom,member.paymentId)">{{member.statusId}}
          </button>
        </div>
      </div>
    </div>
    <div class="empty" ng-if="billEmpty">还没有相关账单内容</div>
  </ion-content>
  <div class="tab-nav tabs globalColor">
    <a class="tab-item tab-item" ng-click="addBill()">
      <span class="tab-title">创建账单</span>
    </a>
  </div>
</ion-view>
