<ion-view title="活动账单" hide-tabs="true">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="goBack()">
        <i class="icon  ion-ios-arrow-back "></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content id="activityBill">
    <ion-list class="list-card" ng-repeat="item in billList">
      <ion-item>
        <div class="bill-title" on-hold="deleteBill(item.paymentGroupId)">
          <h2>{{item.paymentGroupName}}</h2>
          <p>单位: 元</p>
          <p class="wacatShare" ng-click="billShare(item.paymentGroupId,item.paymentGroupName)">微信分享</p>
          <img class="hide_bill" src="../www/img/activityImg/icon-下拉41X41@2x.png" height="20" width="20"
               ng-click="show($index)"/>
        </div>
        <div class="blii-list">
          <div style="display: flex;" ng-repeat="member in item.memberList"
               ng-if="member.roleTypeIdTo=='PRIVATE_PAYMENT'||member.partyIdFrom==partyId">
            <p class="blii-item" style="text-align: left">{{member.firstName}}</p>
            <p class="blii-item">{{member.amount}}</p>
            <p class="blii-item" ng-style="{'background-color':(member.statusId=='付款')?'#ffda44':'white'}"
               ng-click="partyPay(member.partyIdFrom,member.paymentId,member.payMethod)"
               ng-disabled="member.statusId=='已付'">
              {{member.paymentMethodName}}{{member.statusId}}</p>
          </div>
          <img class="show_bill" src="../www/img/activityImg/icon-收起41X41@2x.png" style="bottom:-25px;" height="20"
               width="20" ng-click="hide($index)"/>
        </div>
      </ion-item>
    </ion-list>
    <!--<div class="list card" ng-repeat="item in billList">-->
      <!--<div class="item">-->
        <!--<h3 style="text-align: center">{{item.paymentGroupName}}</h3>-->
        <!--<p style="float: right" ng-click="billShare(item.paymentGroupId,item.paymentGroupName)"><b>微信分享</b></p>-->
        <!--<p>单位:元</p>-->
        <!--<hr>-->
        <!--<div class="partition" ng-repeat="member in item.memberList"-->
             <!--ng-if="activityAdminPartyId==partyId||(member.roleTypeIdTo=='PRIVATE_PAYMENT'||member.partyIdFrom==partyId)">-->
          <!--<div>-->
            <!--<span>{{member.firstName}}</span>-->
            <!--<input type="text" name="{{member.paymentId}}" ng-model="member.amount"-->
                   <!--ng-readonly="activityAdminPartyId!=partyId"-->
                   <!--ng-change="onfocus(member.paymentId)">-->
            <!--<button class="Payment-edit" id="{{member.paymentId}}" ng-click="updatePaymentAmount(member.paymentId)">修改-->
            <!--</button>-->
            <!--<button class="Payment-status" id="falt"-->
                    <!--ng-disabled="activityAdminPartyId!=partyId&&member.partyIdFrom!=partyId||member.statusId=='已付'"-->
                    <!--ng-style="{'background-color':(member.partyIdFrom==partyId||activityAdminPartyId==partyId)?'':'white'}"-->
                    <!--ng-click="partyPay(member.partyIdFrom,member.paymentId,member.payMethod)">-->
              <!--{{member.paymentMethodName}}{{member.statusId}}-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="empty" ng-if="billEmpty">还没有相关账单内容</div>
  </ion-content>
  <div class="tab-nav tabs act-foot-btn" ng-if="activityAdminPartyId==partyId">
    <a class="tab-item tab-item" ng-click="addBill()">
      <span class="tab-create">创建账单</span>
    </a>
  </div>
</ion-view>
