<ion-view title="账单录入" hide-tabs="true">
  <ion-nav-bar class="bar-light">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="$ionicGoBack()">
        <i class="icon  ion-ios-arrow-back "></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding" style="background-color: #f2f2f2;font-size: 15px">
    <div class="cardinputInfo">
      <ul class="list">
        <li class="item item-input">
          <span class="input-label">账单名称：</span>
          <input type="text" name="billName" ng-model="Bill.billName" placeholder="请输入账单名称">
        </li>
        <li class="item item-input" ng-if="!settingsList[1].checked">
          <span class="input-label">每人应付：</span>
          <input type="number" name="amount" ng-model="Bill.amount" placeholder="请输入每人应付金额">
        </li>

        <div style="height: 12px;">
        </div>
        <li class="item item-toggle" style="padding: 15px" ng-repeat="item in settingsList">
          <span>{{item.text}}：</span>
          <label class="toggle toggle-assertive">
            <input type="checkbox" ng-model="item.checked" ng-checked="item.checked">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-input" ng-if="settingsList[1].checked">
          <span class="input-label">账单总额：</span>
          <input type="text" name="billTotal" placeholder="请输入账单总额" ng-model="Bill.billTotal" ng-change="billTotal()">
        </li>
        <div style="height: 12px;">
        </div>
        <li class="item item-input" ng-repeat="item in activityParticipantList">
          <span class="input-label" ng-click="deleteMember(item.partyId,$index)"
                style="background-color: red;width: 6%;height: 3px;padding: 0;margin-right: 5%;border-radius: 3px"></span>
          <span class="input-label" style="color: #1d1d1d;">{{item.firstName}}：</span>
          <input type="text" name="{{item.partyId}}" ng-value="Bill.amount|number:2" style="text-align: right">
        </li>
      </ul>
      <div>
        <button class="button" style="width: 100%;background-color: #FFDA44;font-size: 15px;color: #1d1d1d;border: 0"
                ng-click="createBill()">确认
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
