<ion-view view-title="投票">
  <ion-nav-bar class="globalColor">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="$ionicGoBack()">
        <i class="icon ion-android-arrow-back globalColorButton"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list card">
      <div class="item item-divider" ng-bind="surveyName"></div>
        <ion-radio ng-model="ret.choice" ng-value="question.surveyQuestionId" ng-repeat="question in questions">
          {{$index+1}}、<span  ng-bind="question.question"></span>
          <i class="" style="float: right;color: #33cd5f;" ng-bind="question.answerCount"></i>
        </ion-radio>
      <div class="padding">
        <button class="button button-block globalColor" ng-click="doPollQuestion(ret.choice)" id="signUp">{{siginUp}}</button>
      </div>

      <div class="list">
        <div class="item item-divider item-icon-right" ng-click="changeOnOff(onOff)">投票详情 <i class="icon {{onOff==true?'ion-android-arrow-dropdown':'ion-android-arrow-dropup'}}"></i></div>
        <div ng-show="onOff">
          <div class="item item-text-wrap" ng-repeat="item in voteArrs">
            <h2>{{item.question}}</h2>
            <p>{{item.firstName}}</p>
            <!--<img ng-src="{{imag.img}}" ng-repeat="imag in personList" style="top: 16px;max-width: 40px;max-height: 40px;width: 100%;height: 100%;border-radius: 50%;margin-left: 16px;">-->
          </div>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>
