<ion-view title="投票" hide-tabs="true">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="$ionicGoBack()">
        <i class="icon  ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="voteShare()">
        分享
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item>
        <div class="item" style="border: 0;font-size: 15px;color: #1d1d1d">
          <span>{{surveyName}}</span>
          <span style="float: right;font-size: 12px;color: #787878">单选</span>
        </div>
        <div class="list">
          <div class="item" style="margin: 0" ng-repeat="question in questions"
               ng-click="vote.statusId=='VOTE_CLOSE'?true:false||doPollQuestion(question.surveyQuestionId)">
            <span style="background-color: #ffeca1;display: block;font-size: 14px"
                  ng-style="{width:question.answerCount/responceAnswersCount*100+'%'}">
              {{question.question}}<span ng-if="question.question==mySelect">(已选)</span>
            </span>
            <span style="font-size: 12px;color: #979797">{{question.answerCount}}人  {{question.answerCount/responceAnswersCount*100|number : 2}}%</span>
          </div>
          <div style="text-align: right;color: #979797;font-size: 12px ">
            <span ng-repeat="item in partyResponceAnswers">
              <img ng-src="{{item.headPortrait}}" width="20" height="20" style="border-radius: 50%">
            </span>
            {{partyResponceAnswersCount}}人已参与了投票
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
