<ion-view title="投票" hide-tabs="true" class="vote_cast">
  <ion-nav-bar class="bar-light">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="$ionicGoBack()">
        <i class="icon  ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="voteShare()">
        分享
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item>
        <div class="item">
          {{surveyName}}
          <span class="vote_radio">单选</span>
        </div>
        <div class="list">
          <div class="item padding" ng-repeat="question in questions"
               ng-click="vote.statusId=='VOTE_CLOSE'?true:false||doPollQuestion(question.surveyQuestionId)">
            <span class="vote_selected"
                  ng-style="{width:question.answerCount/responceAnswersCount*100+'%'}">
              {{question.question}}<span ng-if="question.question==mySelect">(已选)</span>
            </span>
            <span class="vote_member_count">{{question.answerCount}}人  {{question.answerCount/responceAnswersCount*100|number : 2}}%</span>
          </div>
          <div class="vote_member">
            <span ng-repeat="item in partyResponceAnswers">
              <img ng-src="{{item.headPortrait}}" width="20" height="20" style="border-radius: 50%;vertical-align: middle">
            </span>
            {{partyResponceAnswersCount}}人已参与了投票
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
