<ion-view view-title="创建投票">
  <div class="bar bar-header">
    <button class="button icon ion-navicon"></button>
    <h1 class="title">Header Buttons</h1>
    <button class="button">Edit</button>
  </div>

  <ion-content>
    <div class="list">
      <div class="item item-input">
        <span class="input-label">投票名称</span>
        <input ng-model="voteTitle" type="text">
      </div>
      <div class="item">
        <span class="input-label" >投票项</span>
        <div id="votes">
          <textarea style='display: inline-block;width: 80%'></textarea>
          <img src='img/delNode.gif' onclick='$(this).prev().remove(); $(this).next().remove(); $(this).remove();'/><br>
        </div>
      </div>
      <div class="item">
        <button class="button icon-left ion-plus-round button-balanced" ng-click="addVotes()">添加投票项</button>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="createSurveyAndQuestions(voteTitle)">保存</button>
      </div>
    </div>
  </ion-content>

</ion-view>

