<ion-view title="活动投票列表" hide-tabs="true">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="$ionicGoBack()">
        <i class="icon  ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a class="button icon-left" ui-sref="tab.goEditVote({workEffortId:{{workEffortId}}})">
        创建
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="vote">
    <ion-list>
      <ion-item class="item-icon-right" can-swipe="true" ng-repeat="activityPollQuestionsTitle in activityPollQuestionsTitles">
        <div ui-sref="tab.goCastVote({surveyId:activityPollQuestionsTitle.surveyId,surveyName:activityPollQuestionsTitle.surveyName,workEffortId:workEffortId})" >
          <h2>投票名称： {{activityPollQuestionsTitle.surveyName}}</h2>
          <p ng-bind="activityPollQuestionsTitle.fromDate | date:'yyyy-MM-dd HH:mm:ss'"></p>
          <i class="icon ion-ios-arrow-right" style="color:darkgrey"></i>
        </div>
        <ion-option-button class="button-assertive">移除</ion-option-button>
      </ion-item>
    </ion-list>
    <div class="empty" ng-if="vote_empty">还没有相关投票内容</div>
  </ion-content>
</ion-view>
