<ion-view view-title="投票主题列表">
  <ion-nav-buttons side="right">
    <a class="button icon-left" ui-sref="app.goEditVote">
      <i class="icon ion-ios-compose"></i>
    </a>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right" can-swipe="true" ui-sref="app.goCastVote">
        <h2>1、优先选择攀登的山峰</h2>
        <p>2017-1-12 12:12:21</p>
        <i class="icon ion-ios-arrow-right" style="color:darkgrey"></i>
        <ion-option-button class="button-balanced" ui-sref="app.goEditVote">编辑</ion-option-button>
        <ion-option-button class="button-assertive">移除</ion-option-button>
      </ion-item>
      <ion-item class="item-icon-right" can-swipe="true" ui-sref="app.goCastVote">
        <h2>2、选择攀登的时间</h2>
        <p>2017-1-12 12:12:21</p>
        <i class="icon ion-ios-arrow-right" style="color:darkgrey"></i>
        <ion-option-button class="button-balanced" >编辑</ion-option-button>
        <ion-option-button class="button-assertive">移除</ion-option-button>
      </ion-item>
      <ion-item class="item-icon-right" can-swipe="true" ui-sref="app.goCastVote">
        <h2>3、到达目的地所选交通工具</h2>
        <p>2017-1-12 12:12:21</p>
        <i class="icon ion-ios-arrow-right" style="color:darkgrey"></i>
        <ion-option-button class="button-balanced">编辑</ion-option-button>
        <ion-option-button class="button-assertive">移除</ion-option-button>
      </ion-item>
      <ion-item class="item-icon-right" can-swipe="true" ui-sref="app.goCastVote">
        <h2>4、优先选择会晤的地点</h2>
        <p>2017-1-12 12:12:21</p>
        <i class="icon ion-ios-arrow-right" style="color:darkgrey"></i>
        <ion-option-button class="button-balanced">编辑</ion-option-button>
        <ion-option-button class="button-assertive">移除</ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
