<ion-modal-view >
  <ion-content class="has-header">
      <ion-list>
        <label>
          <ion-checkbox id="all"  ng-click="selectAll(personmainLists)">全选/全不选</ion-checkbox>
        </label>
        <ion-checkbox ng-repeat="item in personmainLists"
                      ng-model="item.checked"
                      ng-checked="item.checked">
          {{ item.nickName}} {{item.userLoginId}}
        </ion-checkbox>
        <div class="row" id="addPeron">
          <div class="col">
            <div class="col-demo">
              <button class="button button-positive" style="width: 100%;" ng-click="createRangeLable()">添加</button>
            </div>
          </div>
          <div class="col">
            <div class="col-demo">
              <button class="button button-positive" style="width: 100%;" ng-click="closeModal()">取消</button>
            </div>
          </div>
        </div>
      </ion-list>
  </ion-content>
</ion-modal-view>
