<ion-view title="完善资料" xmlns="http://www.w3.org/1999/html">
  <ion-nav-bar class="globalColor">
    <ion-nav-buttons side="left">
      <button class="button button-clear" ng-click="goBack()">
        <i class="icon  ion-ios-arrow-back globalColorButton"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button  class="button button-clear button-dark " ng-click="updatePersonInfo()">
        完成
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content id="editPerson">
    <div class="edit">
      <img class="edit-img-header" id="myImage"  ng-src="{{myInfoList.headPortrait}}">
      <div class="camera" ng-click="uploaPartyContent()"></div>
    </div>
    <ion-list>
      <ion-item>
        <label>
          <span>姓名:</span>
          <input type="text" placeholder="      请输入您的姓名" name="userName" ng-model="myInfoList.personName">
        </label>
      </ion-item>
      <ion-item>
          <span>性别:</span>
          <input class="male" type="radio" name="sex" value="M" ng-checked="male">男
          <input class="female" type="radio" name="sex" value="F" ng-checked="female">女
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
