body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:676px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:676px;
}
#u1 {
  position:absolute;
  left:2px;
  top:330px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:120px;
  width:130px;
  height:110px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:110px;
}
#u3 {
  position:absolute;
  left:2px;
  top:48px;
  width:126px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:50px;
  top:260px;
  width:240px;
  height:30px;
  color:#CCCCCC;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  word-wrap:break-word;
}
#u4_ann {
  position:absolute;
  left:283px;
  top:256px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:50px;
  top:300px;
  width:240px;
  height:30px;
  color:#CCCCCC;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  word-wrap:break-word;
}
#u6_ann {
  position:absolute;
  left:283px;
  top:296px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:50px;
  top:340px;
  width:240px;
  height:30px;
  color:#CCCCCC;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  word-wrap:break-word;
}
#u8_ann {
  position:absolute;
  left:283px;
  top:336px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:50px;
  top:390px;
  width:240px;
  height:30px;
  color:#CCCCCC;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  word-wrap:break-word;
}
#u10_ann {
  position:absolute;
  left:283px;
  top:386px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:50px;
  top:430px;
  width:200px;
  height:18px;
}
#u13 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u12_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14 {
  position:absolute;
  left:50px;
  top:462px;
  width:200px;
  height:36px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:200px;
  top:462px;
  width:53px;
  height:18px;
  color:#00CCCC;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:88px;
  top:480px;
  width:53px;
  height:18px;
  color:#00CCCC;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:80px;
  top:508px;
  width:180px;
  height:32px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:32px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:80px;
  top:550px;
  width:180px;
  height:32px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:32px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:22px;
  top:250px;
  width:290px;
  height:350px;
  overflow:hidden;
  visibility:hidden;
}
#u24_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:350px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:6px;
  top:10px;
  width:280px;
  height:6266px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:6266px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:32px;
  top:260px;
  width:290px;
  height:350px;
  overflow:hidden;
  visibility:hidden;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:350px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:10px;
  top:10px;
  width:270px;
  height:5694px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:5694px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
