<ion-view view-title="活动">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="myTime()">
      <i class="icon ion-calendar"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div id="nav">
      <ul>
        <li><a ng-click="selectType(typeMy)">我发起的活动</a></li>
        <li><a ng-click="selectType(typeInvitation)">我参与的活动</a></li>
      </ul>
    </div>
    <div class="list card" ng-repeat="matter in active">
      <div class="item" style="padding: 0;margin-top: 2%;position: relative" ng-click="activityDetails(matter.workEffortId)"  >
        <img ng-src="{{img}}" style="width:100%;height:220px" >
        <div style="position: absolute;right: 5%;top: 45%;">
          <p style="color: white"><b>活动安排：{{matter.workEffortName}}</b></p>
          <p style="color: white">开始时间：{{matter.actualStartDate| date:'medium' }}</p>
          <p style="color: white">结束时间：{{matter.estimatedCompletionDate| date:'medium' }}</p>
          <p style="color: white">活动地点：{{matter.locationDesc}}</p>
        </div>
        <!--<div class="{{matter.partyId}}" style="display: none">-->
          <!--<p style="color: yellow;width: 70px;position: absolute;top: 0;right: 5%;">由我组织</p>-->
        <!--</div>-->
        <div class="item tabs">
          <p class="tab-item">
            参与：39位
          </p>
          <p class="tab-item">
            感兴趣：120位
          </p>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer" style="margin-left: -6px;">
    <div class="tab-nav tabs">
      <a class="tab-item tab-item-active" style="line-height: 12px;" ng-click="goInfo(typeMy)">
        <i class="icon ion-ios-eye-outline" style="line-height: 14px;">
        </i>
        <span class="tab-title ng-binding" style="font-size: 10px;">由我组织</span>
      </a>
      <a class="tab-item tab-item-active" style="line-height: 12px;" ng-click="goInfo(typefinish)">
        <i class="icon ion-ios-bolt-outline" style="line-height: 14px;">
        </i>
        <span class="tab-title ng-binding" style="font-size: 10px;">往期活动</span>
      </a>
      <a class="tab-item tab-item-active"  style="line-height: 12px;" ng-click="newActivity()">
        <i class="icon ion-ios-plus-outline" style="line-height: 14px;color: #0a9dc7">
        </i>
        <span class="tab-title ng-binding" style="font-size: 10px;">发布活动</span>
      </a>
      <a class="tab-item tab-item-active" style="line-height: 12px;" ng-click="goInfo(typeInvitation)">
        <i class="icon ion-ios-flag-outline " style="line-height: 14px;">
        </i>
        <span ng-class="{true:'red-point',false:''}[true]">活动邀请</span>
      </a>
      <a class="tab-item tab-item-active" style="line-height: 12px;" href="#/app/aboutme">
        <i class="icon ion-ios-person-outline " style="line-height: 14px;">
        </i>
        <span ng-class="{true:'red-point',false:''}[true]" >我的信息</span>
      </a>
    </div>
  </div>
</ion-view>
