<ion-view title="照片墙" hide-tabs="true">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="goBack()">
        <i class="icon  ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear " ng-click="showConfirm()">
        <i class="icon ion-more"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content style="background-color: black" id="act-img">
    <ion-slide-box class="imgWall" on-slide-changed="slideChanged(index)" delegate-handle="mySlide"
                   active-slide="myActiveSlide">
      <ion-slide ng-repeat="picture in pictureList" style="background-color: black">
        <img  ng-src="{{picture.objectInfo}}" width="100%">
      </ion-slide>
    </ion-slide-box>
    <div style="position: fixed;top: 0;right: 0;color: black;background-color:white; z-index: 999;
        font-size: 28px;padding: 10px;opacity: 0.8;border-radius: 5px"
         ng-click="praiseselect(PraiseList)">{{praised}}({{acountPraiseCount}})
    </div>
    <ion-scroll direction="x" class="wide-as-needed" delegate-handle="myScroll">
      <div class="row">
        <div class="col col-20" ng-repeat="item in pictureList" ng-click="getPersonInfo(item.partyId)">
          <img id="a{{$index}}" class="imgWall-list" ng-src="{{item.objectInfo}}" ng-click="chooseImg($index)">
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
