<ion-view title="统计区" hide-tabs="true" class="activity_matter">
  <ion-nav-bar class="bar-light">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="goBack()">
        <i class="icon  ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button id="editEvent" class="button button-clear" ng-click="createMatter()">
        <img src="../www/img/activityImg/形状-1@2x.png" height="30" width="30"/>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in activityJobsList" on-hold="removeActivityJob(item.surveyId)">
        <h3 class="padding-vertical">
          {{item.surveyName}}
        </h3>
        <p class="padding-top create_member">创建自{{item.surveyAdminName|limitTo:5}}</p>
        <p class="padding-vertical create_time">2017/7/17 下午2:00<span style="float: right">{{item.partyAnswer.length}}人参与</span>
        </p>
        <p class="share_wechat" ng-click="WechatShare(item.surveyName,item.surveyId)">微信分享</p>
        <div class="item-text-wrap padding-bottom matter_details">
          {{item.questionName}}
        </div>
        <div class="padding-top" ng-repeat="response in item.partyAnswer">
          <p><span class="discuss_response_button">{{response.firstName|limitTo:5}}:</span>{{response.textResponse}}
            <span class="discuss_response_delete" ng-if="response.partyId==partyId"
                  ng-click="removeMyPushJob(response.surveyResponseId,response.surveyQuestionId)">删除</span>
          </p>
        </div>
        <div class="item-input-inset padding-top">
          <label class="item-input-wrapper ">
            <i class="icon ion-android-create placeholder-icon"></i>
            <input type="text" name="joinMatter" placeholder="参与">
          </label>
          <button class="button button-small" ng-disable="sendResponse" ng-click="joinMatter($index)">
            发送
          </button>
        </div>
      </ion-item>
    </ion-list>
    <br><br><br>
    <div class="activity_empty" ng-if="activityJobsList.length==0">还没有相关活动统计</div>
  </ion-content>
</ion-view>

