<ion-view title="活动讨论">
  <ion-nav-bar class="globalColor">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="goback()">
        <i class="icon ion-android-arrow-back globalColorButton"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon ion-person-stalker ion-navicon"  ng-click="openPersonJoin()">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content id="content" has-bouncing="true" class="has-header has-footer"
               delegate-handle="userMessageScroll" keyboardshow>
    <div ng-repeat="message in discussList | orderBy:'date':false" class="message-wrapper">
      <div ng-if="message.name !== nickName">
        <img ng-click="" class="profile-pic left"
             ng-src="{{contactImg}}" onerror="" />
        <div class="chat-bubble left">
          <div class="message" >
            {{message.text}}
          </div>
          <div class="message-detail">
            <span ng-click=""class="bold">{{message.name}}</span>,
            <span am-time-ago="message.date"></span>
          </div>
        </div>
      </div>

      <div ng-if="message.name == nickName">
        <img ng-click="" class="profile-pic right"
             ng-src="{{contactImg}}" onerror="" />
        <div class="chat-bubble right">
          <div class="message" >
            {{message.text}}
          </div>
          <div class="message-detail" style="text-align: right;">
            <span ng-click=""class="bold">{{message.name}}</span>,
            <span am-time-ago="message.date"></span>
          </div>
        </div>
      </div>
      <div class="cf"></div>
    </div>
  </ion-content>
  <form name="sendMessageForm" ng-submit="sentMessage()">
    <ion-footer-bar keyboardshow class="bar-stable item-input-inset message-footer">
      <label class="item-input-wrapper">
        <textarea ng-model="input.message"   placeholder="请输入你想要发送的信息。。。" required minlength="1" maxlength="1500" style="width: 100%" ></textarea>
      </label>
      <button class="button button-icon icon ion-android-send" type="submit"
              ng-disabled="!input.message || input.message === ''">
      </button>
    </ion-footer-bar>
  </form>
</ion-view>
