<ion-view view-title="{{title}}">
  <ion-content>
    <div class="list" ng-repeat="myActivty in myActivtyList">
      <a class="item item-thumbnail-left" ng-click="goInfo(myActivty.workEffortId,type)" style="width: 100%">
        <img ng-src="{{img}}">
        <h2>标题：{{myActivty.workEffortName}}</h2>
        <p>描述：{{myActivty.description}}</p>
        <p>{{myActivty.actualStartDate| date:'yyyy-MM-dd HH:mm:ss'}}</p>
        <p>{{myActivty.estimatedCompletionDate| date:'yyyy-MM-dd HH:mm:ss'}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
