<ion-view title="照片墙" hide-tabs="true">
  <ion-nav-bar class="bar-light">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="goBack()">
        <i class="icon  ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear " ng-click="showConfirm()">
        <i class="icon ion-more"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content id="act-img">
    <ion-slide-box class="imgWall" on-slide-changed="slideChanged(index)" delegate-handle="mySlide"
                   active-slide="myActiveSlide">
      <ion-slide ng-repeat="picture in pictureList">
        <img ng-src="{{picture.objectInfo}}" width="100%">
      </ion-slide>
    </ion-slide-box>
    <div class="praise"
         ng-click="praiseselect(PraiseList)">
      <img src="../www/img/activityImg/icon-点赞-未点击状态36X30px@2x.png" height="29" width="29"/>
      <span>{{acountPraiseCount}}</span>
    </div>
    <ion-scroll direction="x" class="wide-as-needed" on-scroll="scrollSmallToTop()" delegate-handle="myScroll">
      <div class="row">
        <div class="col col-20" ng-repeat="item in pictureList">
          <img id="a{{$index}}" class="imgWall-list" ng-src="{{item.objectInfo}}" ng-click="chooseImg($index)">
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
