
<ion-popover-view style="margin-top: 13px;height: 230px;width: 120px">

  <ion-content>
    <div class="list">
      <p>
        <button class="button button-full icon-left ion-laptop" ui-sref="app.voteList">相关投票</button>
      </p>
      <p>
        <button class="button button-full icon-left ion-speakerphone" ng-click="activityDiscuss(activityList.id)">活动讨论</button>
      </p>
      <p>
        <button class="button button-full icon-left ion-clipboard" ui-sref="app.activityBill">活动账单</button>
      </p>
      <p>
        <button class="button button-full icon-left ion-ios-flag-outline" ng-click="activityItem(activityList.id)">活动项</button>
      </p>
    </div>
  </ion-content>
</ion-popover-view>
