<ion-view view-title="活动">
  <ion-nav-buttons side="right">
    <button class="button button-clear " style="color: white" ng-click="goInfo(typeInvitation)" ng-if="activityHome">
      消息
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card" ng-repeat="matter in active" id="activityListInfo">
      <div class="item" ng-click="activityDetails(matter.workEffortId)">
        <img ng-src="{{img}}">
        <div class="info">
          <p><b>{{matter.workEffortName}}</b></p>
          <p>开始:{{matter.actualStartDate| date:'yyyy-MM-dd HH:mm' }}</p>
          <p>结束:{{matter.estimatedCompletionDate| date:'yyyy-MM-dd HH:mm' }}</p>
          <p>{{matter.locationDesc}}</p>
        </div>
        <div class="item tabs">
          <p class="tab-item">参与：{{matter.joinsCount}}位</p>
          <p class="tab-item">感兴趣：120位</p>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer" style="margin-left: -6px;" ng-if="activityHome">
    <div class="tab-nav tabs globalColor">
      <a class="tab-item tab-item-active" style="line-height: 12px;" ng-click="goInfo(typeMy)">
        <i class="icon ion-ios-eye-outline" style="line-height: 14px;">
        </i>
        <span class="tab-title ng-binding" style="font-size: 10px;">由我组织</span>
      </a>
      <a class="tab-item tab-item-active" style="line-height: 12px;" ng-click="newActivity(newEvent)">
        <i class="icon ion-ios-plus-outline " style="line-height: 14px;">
        </i>
        <span class="tab-title ng-binding" style="font-size: 10px;">创建活动</span>
      </a>
      <a class="tab-item tab-item-active" style="line-height: 12px;" ng-click="goInfo(typefinish)">
        <i class="icon ion-ios-bolt-outline" style="line-height: 14px;">
        </i>
        <span class="tab-title ng-binding" style="font-size: 10px;">往期活动</span>
      </a>
    </div>
  </div>
  <div style="height:100%;position: relative;" ng-if="activityHomeNull">
    <p class="tipTextAct" id="box">你还没有活动是否要新建？</p>
    <p class="history" id="history" ng-click="getHistory()">找回历史活动</p>
  </div>
  <div class="bar bar-footer " style="margin-left: -6px;" id="newActivity" ng-if="activityHomeNull">
    <div class="tab-nav tabs globalColor">
      <div style="float:right">
        <button class="button  globalColor"
                style="padding: 0;margin: 0;float: right;width: 150px;height: 47px;font-size: 20px"
                ng-click="newActivity(newEvent)">创建活动
        </button>
      </div>
    </div>
  </div>
</ion-view>
