<ion-view title="梨友列表" hide-tabs="true">
  <ion-nav-bar class="bar-light">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="$ionicGoBack()">
        <i class="icon  ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list ng-repeat="chat in allPersonList">
      <ion-item ng-if="chat.appUser=='Y'" class="item-remove-animate item-avatar item-icon-right item-text-wrap"
                ng-click="sendInvitation(chat)"
      ">
      <img ng-src="{{chat.headPortrait}}">
      <h2>{{chat.firstName}}</h2>
      <p>{{chat.contactNumber}}</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
      <ion-option-button class="button-assertive" ng-click="remove(chat)">
        Delete
      </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
