<ion-view view-title="消息通知">
  <ion-nav-bar class="bar-light">
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-click="goInfo()" ng-repeat="notice in noticeList">
        <h2 style="word-wrap:break-word;white-space:normal">{{notice.noteInfo}}</h2>
        <p>时间：{{notice.lastUpdatedStamp| date:'yyyy-MM-dd HH:mm'}}</p>
        <ion-option-button class="button-assertive" ng-click="deleteNotice(notice.noteId)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
