<ion-view title="讨论区" hide-tabs="true">
  <ion-nav-bar class="bar-blue" style="border: 0;">
    <ion-nav-buttons>
      <button class="button button-clear" style="color: white" ng-click="goBack()">
        <i class="icon  ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button id="editEvent" class="button button-clear" ng-click="createMatter()" style="padding-right: 18px;">
        <img src="../www/img/activityImg/形状-1@2x.png" height="30" width="30"/>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content id="activityMatter" style="background-color: white">
    <ion-slide-box active-slide="myActiveSlide" on-slide-changed="slideChanged(index)" style="">
      <ion-slide ng-repeat="item in activityJobsList" style="background-color: #83ccfc;height: 236px">
        <ion-list class="card">
          <ion-item class="matter-slide" style="box-shadow: 0 0 20px 2px #d7efff;height: 131px">
            <h3 style="border-bottom: 1px solid #f0eff5;padding-bottom: 20px;font-size: 21px;color: #83ccfc;">
              {{item.surveyName}}</h3>
            <p class="wacat" ng-click="WechatShare(item.surveyName,item.surveyId)">微信分享</p>
            <div class="join-matter">
              <textarea rows="3" readonly>{{item.questionName}}</textarea>
              <button class="button  button-small">
                <!--<img src="../www/img/activityImg/icon-点赞-未点击状态36X30px@2x.png"-->
                     <!--height="26" width="22"/>-->
              </button>
            </div>
          </ion-item>
        </ion-list>
        <div style="width: 43px;height:43px;position: absolute;right: 5%;bottom: 0;z-index: 999;border-radius: 50%;
    color: #83ccfc;
    background-color: white;box-shadow: 0 0 5px 2px  #f5f5f5;text-align: center;font-size:21px;line-height: 42px">
          {{$index+1}}<span style="font-size: 14px">/{{countSurvey}}</span>
        </div>
      </ion-slide>
    </ion-slide-box>
    <ion-list>
      <ion-item style="border-bottom: 10px solid #f2f2f2;border-top: 0" ng-repeat="item in reverseList">
        <div class="item item-avatar" style="border: 0">
          <img ng-src="{{item.headPortrait}}" style="border-radius: 50%">
          <h2 style="font-size: 14px;color: #83ccfc">{{item.firstName}}</h2>
          <p style="color: #696868">{{item.responseDate|date:'MM月dd日 HH时mm分'}}</p>
        </div>
        <p
          style="font-size: 15px;color: #1d1d1d;text-indent: 10px;padding-bottom: 8px ">
          {{item.textResponse}}</p>
      </ion-item>
    </ion-list>
    <div class="empty" ng-if="item_empty">还没有相关活动事项</div>
  </ion-content>
  <form name="sendMessageForm" style="border: 0">
    <ion-footer-bar keyboardshow class="bar-stable item-input-inset message-footer" style="height: 50px;border: 0">
      <label class="item-input-wrapper" style="background-color: #f8f8f8;border: 0">
        <textarea ng-model="joinMatter.content" placeholder=""
                  style="width: 100%;height:35px;"></textarea>
      </label>
      <button class="button button-icon icon ion-android-send" type="submit"
              style="color:#83ccfc"
              ng-click="joinMatter(currentSlide)"
              ng-disabled="!joinMatter.content||joinMatter.content==''">
      </button>
    </ion-footer-bar>
  </form>
  <!--<div class="tab-nav tabs act-foot-btn">-->
  <!--<a class="tab-item tab-item" >-->
  <!--<span class="tab-create">创建事项</span>-->
  <!--</a>-->
  <!--</div>-->
</ion-view>

