<ion-view view-title="添加人员" hide-tabs="true">
  <ion-nav-bar class="globalColor">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="$ionicGoBack()">
        <i class="icon ion-android-arrow-back globalColorButton"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list card">
      <div class="item">
        <div id="votes">
          <textarea class="personName" type="text" placeholder="昵称" style="display: inline-block;width: 40%;resize:none"></textarea>
          <textarea class="personTel" style='display: inline-block;width: 40%;resize:none' placeholder="手机号码"></textarea>
          <img src='img/shanchu.jpeg' width="48px" height="48px" onclick='$(this).prev().remove(); $(this).next().remove(); $(this).remove();'/><hr>
        </div>
      </div>
      <div>
        <button class="button button-clear icon-left ion-plus-round button-balanced" style="float: right" ng-click="addVotes()">添加人员</button>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer " style="margin-left: -6px;" >
    <div class="tab-nav tabs globalColor" >
      <div  style="float:right">
        <button class="button  globalColor" style="padding: 0;margin: 0;float: right;width: 150px;height: 47px;font-size: 20px" ng-click="createSurveyAndQuestions()">确定添加</button>
      </div>
    </div>
  </div>
</ion-view>
