<ion-view title="活动账单"   hide-tabs="true">
  <ion-nav-bar class="globalColor">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="$ionicGoBack()">
        <i class="icon  ion-ios-arrow-back globalColorButton"></i>
      </button>
    </ion-nav-buttons>
    <!--<ion-nav-buttons side="right">-->
      <!--<button class="button button-icon ion-plus globalColor" ng-click="addBill()">-->
      <!--</button>-->
    <!--</ion-nav-buttons>-->
  </ion-nav-bar>
  <ion-content id="activityBill">
    <table>
      <thead>
        <tr>
          <th>姓名</th>
          <th>应缴金额</th>
          <th>实缴金额</th>
          <th>缴费日期</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="item in billList">
          <th scope="row">{{item.firstName}}</th>
          <td><label><input type="number" ng-model="item.invoiceApplied"></label></td>
          <td><label><input type="number" ng-model="item.amountApplied"></label></td>
          <td><label><input type="text" name="payDate"  readonly ng-model="item.payDate" ng-click="payDate($index)"></label></td>
        </tr>
      </tbody>

      <tfoot>
      <tr>
        <th>总计</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tfoot>
    </table>
  </ion-content>
  <div class="tab-nav tabs globalColor">
    <a class="tab-item tab-item" ng-click="saveBill()">
      <span class="tab-title">保存</span>
    </a>
  </div>
</ion-view>
