<ion-modal-view >
  <ion-header-bar class="bar-balanced">
    <h1 class="title">参与人员</h1>
    <div class="buttons">
      <button class="button button-icon " ng-click="closePersonJoin()">
        返回
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header">
      <div class="list" style="margin-bottom: 50px;">
        <ion-list >
          <ion-item  class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in participantList | orderBy:'personName':true" type="item-text-wrap" ng-click="goInfo(personmain.partyId)">
            <img ng-src="{{imgPerson}}">
            <p style="margin-top: 5%">{{item.nickName}}</p>
            <p></p>
            <ion-option-button class="button-assertive" ng-click="deletePerson(personmain.partyId)">
              Delete
            </ion-option-button>
          </ion-item>
        </ion-list>
      </div>
  </ion-content>
</ion-modal-view>
