<ion-view title="照片墙" hide-tabs="true">
  <ion-nav-bar class="globalColor">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="$ionicGoBack()">
        <i class="icon ion-android-arrow-back globalColorButton"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear " ng-click="showConfirm()">
        <i class="icon ion-more globalColorButton"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content style="height: 100%;background-color: black">
    <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="myActiveSlide"
                   style="width: 100%;height: 500px;margin:0;">
      <ion-slide ng-repeat="picture in pictureList"
                 style="padding: 0;margin: 0;position:relative;top:120px;background-color: black;width: 100%;height: 100%">
        <img style="left:40px;width:100%;top:80px;height:100%" ng-src="{{picture.objectInfo}}">
        <div style="color: white;position: absolute;top: -20%">
          <p style="text-align: left">上传者:{{picture.firstName}}</p>
          <p>上传时间:{{picture.fromDate|date:'yyyy-MM-dd HH:mm'}}</p>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
  <div class="bar bar-footer" style="margin-left: -6px;">
    <div class="tab-nav tabs globalColor">
      <a class="tab-item tab-item-active" style="line-height: 12px;" ng-click="praiseselect(praise)">
        <i class="icon ion-thumbsup" style="line-height: 14px;">
          <span class="tab-title ng-binding">赞{{acountPraiseCount}}</span>
        </i>
      </a>
    </div>
  </div>
</ion-view>
