<ion-view view-title="活动详情">
  <ion-nav-bar class="bar-royal">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="goback()">
        <i class="icon ion-android-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="openPopover($event)">
        <i class="icon ion-more"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content >
      <div class="list"   >
        <div class="item" style="position: relative">
          <img ng-src="{{img}}" style="width: 100%;height: 200px;margin: 0"/>
          <div style="position: absolute;top: 60%;right: 10%">
            <p style="color: white"><b>活动安排：{{activityList.workEffortName}}</b></p>
            <p style="color: white">组织者：{{createPersonInfoList.lastName}}{{createPersonInfoList.firstName}}</p>
          </div>
        </div>
        <!--<div class="list list-left-editing" style="display: none;" id="discuss">-->
          <!--<ion-list>-->
            <!--<h2>近期评论</h2>-->
            <!--<hr>-->
            <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="Discuss in DiscussList ">-->
              <!--<img ng-src="{{Discuss.img}}">-->
              <!--<h3>{{Discuss.name}}</h3>-->
              <!--<p>{{Discuss.discuss}}</p>-->
              <!--<p>{{Discuss.date}}</p>-->
            <!--</ion-item>-->
            <!--<ion-item>-->
              <!--<p style="text-align:right"><button class="button button-small button-clear button-positive "  ng-click="showAddLab()">评论</button><button class="button button-small button-clear button-positive "  ng-click="hideDiscuss()">收起</button></p>-->
            <!--</ion-item>-->
          <!--</ion-list>-->
        <!--</div>-->
        <div class="item">
          <label class="">
            <i class="icon ion-ios-clock"> {{activityList.actualStartDate|date:'yyyy-MM-dd HH:mm:ss'}}<br>&nbsp;{{activityList.estimatedCompletionDate| date:'yyyy-MM-dd HH:mm:ss'}}</i>
            <br>
            <i class="icon ion-ios-location"> {{activityList.locationDesc}}</i>
            <p style="text-align:right;float: right;margin: 0"><button class="button button-small button-clear button-positive "  ng-click="showDiscuss()">3条评论</button></p>
          </label>
        </div>
        <div class="item" style="width: 100%">
          <b>详细信息</b>
          <p style=" white-space : pre;width: 100%">{{activityList.description}}</p>
        </div>
        <div class="item" ng-if="childActivity">
          <p style="float: left"><b>子活动</b></p>
          <p style="text-align: right;" ng-click="advancedOptions()" >查看更多<i class="icon ion-android-arrow-down" style="line-height: 14px;">
          </i></p>
        </div>
        <div class="list" ng-if="childActivity">
          <div class="item" ng-repeat="after in activityChild">
            <a class="item item-thumbnail-left"  type="item-text-wrap" ng-click="activityChildInfo(after.workEffortId)">
              <img ng-src="{{img}}">
              <h2>标题：{{after.workEffortName}}</h2>
              <p>开始时间：{{after.actualStartDate| date:'yyyy-MM-dd HH:mm:ss'}}</p>
              <p>地点：{{after.locationDesc}}</p>
            </a>
          </div>
        </div>
        <div class="item">
          <br>
          <h2>照片墙</h2>
          <hr>
          <div class="row padding row-wrap">
            <div class="col col-33"
                 style="width: 100px;height: 100px;padding:3px;-webkit-box-shadow: 0 0 10px rgb(153,134,117);-moz-box-shadow:0 0 10px rgb(153,134,117);box-shadow:0 0 10px rgb(153,134,117);border-radius: 3px;margin: -1px 0 0 -1px;text-align: center" ng-repeat="picture in activityList.picture" ng-click="shouBigImage(activityList.id)">
              <img class="img-responsive" style="height: 100%;width: 100px; border:1px solid #ffffff;"
                   ng-src="{{picture.img}}">
            </div>
          </div>
        </div>

        <div><p>参与人员：</p></div>
        <div class="item item-avatar" type="item-text-wrap" style="margin-left: -16px;" ng-click="openModal();" ng-controller="ActivityCrl">
          <img ng-src="{{img}}" ng-repeat="imag in personList" style="
          top: 16px;
          max-width: 40px;
          max-height: 40px;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          margin-left: 16px;">
        </div>
        <!--活动的地图-->
        <div class="item" >
          <br>
          <h2>活动地图</h2>
          <hr>
          <div id="allmap" style="height: 300px;" ></div>
          <div>
            <span ng-click="byCar('{{longitude}}','{{latitude}}')">驾车</span>
            <span  ng-click="otherWay('{{longitude}}','{{latitude}}');">乘坐交通工具</span>
          </div>
          <div id="r-result" style="height:800px;width:100%;"></div>

        </div>
      </div>
    <br>
    <br>
    <br>
    <br>
  </ion-content>
  <br>
  <br>
  <div class="bar bar-footer " style="margin-left: -6px;" ng-if="otherActivity">
    <div class="tab-nav tabs" style="background-color: #886aea;color: white;font-size: 13px">
      <a class="tab-item tab-item-active" style="line-height: 12px;" ng-click="goInfo(typeMy)">
        <i class="icon ion-chatbubble-working" style="line-height: 14px;">
        </i>
        <span class="tab-title ng-binding" style="font-size: 10px;">与他交谈</span>
      </a>
      <a class="tab-item tab-item-active" style="line-height: 12px;" ng-click="goInfo(typefinish)">
        <i class="icon icon-left ion-android-happy" style="line-height: 14px;">
        </i>
        <span class="tab-title ng-binding" style="font-size: 10px;">签到</span>
      </a>
      <div  style="float:right">
        <button class="button  button-positive ion-android-person-add" style="padding: 0;margin: 0;float: right;width: 150px;height: 47px;font-size: 20px" ng-click="showPopup(activityList.workEffortId)">我要报名</button>
      </div>
    </div>
  </div>
  <div class="bar bar-footer bar-royal" style="margin-left: -6px;" ng-if="myActivity">
    <div class="tab-nav tabs" style="background-color: #886aea;color: white;font-size: 13px">
      <a class="tab-item tab-item-royal" style="line-height: 12px;" ng-click="createChild(activityList.workEffortId)">
        <i class="icon ion-merge" style="line-height: 14px;">
        </i>
        <span class="tab-title ng-binding" style="font-size: 10px;">发布子活动</span>
      </a>
      <a class="tab-item tab-item-active" style="line-height: 12px;" ng-click="newActivityItem()">
        <i class="icon icon-left ion-steam" style="line-height: 14px;">
        </i>
        <span class="tab-title ng-binding" style="font-size: 10px;">新建活动项</span>
      </a>
      <a class="tab-item tab-item-active" style="line-height: 12px;" ng-click="editActivty(activityList.id)">
        <i class="icon icon-left ion-network" style="line-height: 14px;">
        </i>
        <span class="tab-title ng-binding" style="font-size: 10px;" >编辑活动</span>
      </a>
      <a class="tab-item tab-item-active" style="line-height: 12px;" ng-click="newTask()">
        <i class="icon icon-left ion-android-list" style="line-height: 14px;">
        </i>
        <span class="tab-title ng-binding" style="font-size: 10px;" >邀请好友</span>
      </a>
    </div>
  </div>
</ion-view>
