<ion-view title="活动安排" hide-tabs="true">
  <ion-nav-bar class="globalColor">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="$ionicGoBack()">
        <i class="icon  ion-ios-arrow-back globalColorButton"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon ion-plus globalColor" ng-click="newActivityItem()">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content id="activityItem">
    <ion-list class="list" ng-repeat="item in activityItemList">
      <ion-item>
        <span>{{$index+1}}.</span>
        <img src="../www/img/activityImg/icon_活动项@2x.png"/>
        <span>{{item.actualStartDate| date:'MM月dd日 HH时mm分'}} {{item.workEffortName}}</span>
        <ion-option-button class="button-assertive"
                           ng-click="deleteActivityItem(item.workEffortIdFrom)">
          删除
        </ion-option-button>
      </ion-item>
    </ion-list>
    <div class="item-empty" ng-if="item_empty">还没有相关活动项内容</div>
  </ion-content>
</ion-view>

