<ion-modal-view>
  <button class="button button-icon" menu-toggle="left" ng-click="openModal()">
  取消
  </button>
  <button class="button button-icon" menu-toggle="right" ng-click="closeModal()">
    完成
  </button>
    <ion-content class="has-header">
      <div class="list">
        <div class="item">
          <ion-radio ng-repeat="item in clientSideList"
                     ng-value="item.value" ng-model="data.clientSide" ng-change="serverSideChange(item.value)">
            {{ item.text }}
          </ion-radio>
        </div>
      </div>
      <div class="list" style="border: 0" ng-if="lable">
        <ion-checkbox ng-repeat="item in devList"
                      ng-model="item.checked"
                      ng-checked="item.checked">
          {{ item.groupName}}
        </ion-checkbox>
        <div class="item">
          <p style="color: #0a9dc7" ng-click="openContact()">从联系人选择</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="col-demo">
            <button class="button button-positive" style="width: 100%;" ng-click="selectRange()">确定</button>
          </div>
        </div>
        <div class="col">
          <div class="col-demo">
            <button class="button button-assertive" style="width: 100%;" ng-click="cancelRange()">取消</button>
          </div>
        </div>
      </div>
    </ion-content>
</ion-modal-view>

