<ion-view title="全部评论" hide-tabs="true" class="activity_discuss">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="goBack()">
        <i class="icon  ion-ios-arrow-back "></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content id="activityDiscuss">
    <ion-list class="list">
      <ion-item ng-repeat="item in commEventContentDataResource">
        <div class="item-avatar">
          <img ng-src="{{item.headPortrait}}">
          <h3>{{item.firstName}}</h3>
          <p class="create-date">{{item.createdDate|date:'MM月dd日 HH时mm分'}}</p>
          <p class="discuss_textDate">
            {{item.textData}}</p>
          <div class="discuss_response">
            <div ng-repeat="response in item.responseList">
              <p><span class="discuss_response_button">{{response.firstName}}:</span>{{response.textData}}
                <span class="discuss_response_delete" ng-if="response.partyId==partyId"
                      ng-click="removeActivityCommunication(response.contentId)">删除</span>
              </p>
            </div>
            <p class="discuss_response_button" ng-click="openResponse(item.contentId)">
              共{{item.responceCount}}条.<span>回复</span></p>
          </div>
        </div>
        <ion-option-button style="padding: 0" class="button-assertive"
                           ng-if="item.partyId==partyId"
                           ng-click="removeActivityCommunication(item.contentId)">
          删除
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <form keyboardshow name="sendMessageForm">
    <ion-footer-bar class="bar-stable item-input-inset message-footer">
      <label class="item-input-wrapper">
        <textarea ng-model="input.message" placeholder="写评论.."
        ></textarea>
      </label>
      <button class="button button-icon icon ion-android-send" type="submit" ng-click="sentMessage()"
              ng-disabled="!input.message||input.message==''">
      </button>
    </ion-footer-bar>
  </form>
</ion-view>
