<ion-view view-title="邀请好友" hide-back-button="true">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ng-click="$ionicGoBack()"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-checkbox ng-repeat="item in contact | orderBy:'name.formatted':false"
                    ng-model="item.checked"
                    ng-checked="item.checked"
                    >
        <h2>{{item.name.formatted}}</h2>
        <p>{{item.phoneNumbers[0].value}}</p>
      </ion-checkbox>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer" style="margin-left: -6px;">
    <div class="tab-nav tabs">
      <div class="row" id="addPeron" style="padding: 0">
        <div class="col">
          <div class="col-demo">
            <button class="button button-positive" style="width: 100%;" ng-click="selectContacts()">邀请</button>
          </div>
        </div>
        <div class="col">
          <div class="col-demo">
            <button class="button button-positive" style="width: 100%;" ng-click="sendSMS()">发送信息</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-view>
