<ion-view view-title="活动详情" hide-tabs="true">
  <ion-nav-bar class="globalColor">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="goActivityHome()">
        <i class="icon ion-android-arrow-back globalColorButton">活动首页</i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear " ng-click="openPopover($event)">
        <i class="icon ion-more globalColorButton"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content id="height">
    <div class="list">
      <div class="item" style="border-width: 5px">
        <img ng-src="{{themeImgList.objectInfo}}" style="width: 100%;height: 200px;margin: 0"/>
      </div>
      <div class="item" style="border-width: 5px">
        <h2>{{activityList.workEffortName}}</h2>
        <!--<p><i class="icon ion-ios-clock-outline"></i>  {{activityList.actualStartDate|date:'yyyy-MM-dd HH:mm'}}</p>-->
        <!--<p><i class="icon ion-ios-clock"></i>  {{activityList.estimatedCompletionDate| date:'yyyy-MM-dd HH:mm'}}</p>-->
        <!--<p><i class="ion-ios-location-outline"> {{activityList.locationDesc}}</i></p>-->
        <label style="display: block;margin: 0;padding: 0">
          <i class="icon ion-ios-clock-outline" style="font-size: 18px"></i>&nbsp;&nbsp;
          <input type="text"  value="{{activityList.actualStartDate|date:'yyyy-MM-dd HH:mm'}}" style="display: inline-block;margin: 0;padding: 0;width: 40%">
          <input type="text"  value="{{activityList.estimatedCompletionDate|date:'yyyy-MM-dd HH:mm'}}"style="display: inline-block;margin: 0;padding: 0">
        </label>
        <label style="display: block;margin: 0;padding: 0">
          <i class="icon ion-ios-location-outline" style="font-size: 18px"></i>&nbsp;&nbsp;
          <input type="text"  value="{{activityList.locationDesc}}"style="display: inline-block;margin: 0;padding: 0">
        </label>
      </div>
      <div  class="item" style="border-width: 5px">
        <h2>发起人:</h2>
        <hr>
        <a class="item item-avatar" href="#" style="border-width:0">
          <img src="{{createPersonInfoList.objectInfo}}">
          <h2>{{createPersonInfoList.firstName}}</h2>
          <p>{{createPersonInfoList.faqishijian|date:'yyyy-MM-dd HH:mm'}}发起</p>
        </a>
      </div>
      <div class="item" style="width: 100%;border-width: 5px">
        <h3>详细信息</h3>
        <label style="display: block;margin: 0;padding: 0">
          <input type="text"  value="{{activityList.description}}"style="display: inline-block;margin: 0;padding: 0">
        </label>
      </div>
      <div class="item" style="border-width: 5px">
        <br>
        <div>
          <h3 style="display: inline-block">照片墙</h3>
          <p style="float: right" ng-click="upLoadImage(activityList.id)">上传图片</p>
        </div>
        <hr>
        <div class="row padding row-wrap">
          <div class="col col-33"
               style="width: 100px;height: 100px;padding:3px;-webkit-box-shadow: 0 0 10px rgb(153,134,117);-moz-box-shadow:0 0 10px rgb(153,134,117);box-shadow:0 0 10px rgb(153,134,117);border-radius: 3px;margin: -1px 0 0 -1px;text-align: center"
               ng-repeat="picture in images_list"  >
            <img class="img-responsive" style="height: 100%;width: 100px; border:1px solid #ffffff;"
                 ng-src="{{picture.objectInfo}}" ng-click="shouBigImage($index)">
          </div>
        </div>
      </div>
      <!--活动的地图-->
      <div class="item" ng-if="baidu" style="border-width: 5px">
        <br>
        <h3>
          <span>位置</span>
          <span style="float: right" ng-click="launchNavigator()"><i class="icon ion-location">导航</i></span>
        </h3>
        <hr>
        <div id="allmap" style="height: 300px;"></div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </ion-content>
  <br>
  <br>
  <div class="bar bar-footer globalColor" style="margin-left: -6px;" ng-if="otherActivity">
    <div class="tab-nav tabs globalColor" style="font-size: 13px">
      <a class="tab-item tab-item-active" style="line-height: 12px;" ng-click="goInfo(typeMy)">
        <i class="icon ion-chatbubble-working" style="line-height: 14px;color: white">
        </i>
        <span class="tab-title ng-binding" style="font-size: 10px;color: white">与他交谈</span>
      </a>
      <a class="tab-item tab-item-active" style="line-height: 12px;color: white" ng-click="goInfo(typefinish)">
        <i class="icon icon-left ion-android-happy" style="line-height: 14px;">
        </i>
        <span class="tab-title ng-binding" style="font-size: 10px;color: white">签到</span>
      </a>
      <div style="float:right" >
        <button id="join"  class="button  globalColor ion-android-person-add"
                style="padding: 0;margin: 0;float: right;width: 150px;height: 47px;font-size: 20px"
                ng-click="showPopup(activityList.workEffortId)"  >{{activitySignUp}}
        </button>
      </div>
    </div>
  </div>
  <div class="bar bar-footer globalColor" style="margin-left: -6px;" ng-if="myActivity">
    <div class="tab-nav tabs globalColor">
      <a class="tab-item tab-item" style="line-height: 10px;color: white" ng-click="editActivty(editEvent)">
        <i class="icon icon-left ion-network">
        </i>
        <span class="tab-title" style="font-size: 13px;color: white">编辑活动</span>
      </a>
      <a class="tab-item tab-item" style="line-height: 10px;color: white" ng-click="InviteModal()">
        <i class="icon icon-left ion-android-list">
        </i>
        <span class="tab-title" style="font-size: 13px;color: white">邀请好友</span>
      </a>
    </div>
  </div>
</ion-view>
