<ion-view title="账单录入">
  <ion-content class="padding">
    <div class="cardinputInfo">
      <form name="accreForm">
        <div class="list" >
          <label class="item item-input">
            <span class="input-label">姓名：</span>
            <input type="text" id="pname" placeholder="请输入姓名" ng-click="openModal()" >
          </label>
          <label class="item item-input">
            <span class="input-label">实缴：</span>
            <input type="number"  name="money" ng-model="money"  placeholder="请输入缴费金额" >
          </label>
          <label class="item item-input">
            <span class="input-label">应缴：</span>
            <input type="number" name="ymoney" ng-model="ymoney"  placeholder="请输入缴费金额" required>
          </label>
          <label class="item item-input">
            <span class="input-label">时间：</span>
            <input type="text" id="mydate" placeholder="请输入时间" ng-click="openDatePicker()" ng-controller="activityBillCtrl">
          </label>
        </div>
        <div>
          <button class="button button-positive" style="width: 100%"
                  ng-disabled="accreForm.ymoney.$error.required">确认
          </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
