<ion-view title="创建讨论" hide-tabs="true">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="$ionicGoBack()">
        <i class="icon  ion-ios-arrow-back "></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content style="background-color: #f2f2f2">
    <div class="content ionic-pseudo">
      <div class="list card">
        <div class="item" style="padding: 0">
          <label class="item item-input">
            <span class="input-label">讨论主题：</span>
            <input type="text" placeholder="活动标题(必填)" style="width: 100%"
                   ng-model="itemMatter.surveyName">
          </label>
        </div>
        <div class="item" style="padding: 0">
          <label class="item ">
            <p style="border-left: 7px solid #FFDA44;font-size: 16px">主题介绍：</p>
            <textarea name="a" style="width:100%;" rows="15" placeholder="填写活动描述，让更多的人参与活动"
                      ng-model="itemMatter.information">{{myActivtyList.information}}</textarea>
          </label>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="tab-nav tabs act-foot-btn">
    <a class="tab-item tab-item" ng-click="createMatter()">
      <span class="tab-create">立即创建</span>
    </a>
  </div>
</ion-view>
