<ion-modal-view ng-controller="NewActivity">
  <ion-header-bar class="globalColor">
    <h1 class="title globalColorButton">填写活动信息</h1>
    <button class="button button-clear " ng-click="goActivityHome()">
      <i class="icon  globalColorButton">取消</i>
    </button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="content ionic-pseudo">
      <div class="list card">
        <div class="item">
          <label class="">
            <input ng-blur="groupName()" type="text" placeholder="活动标题(必填)"  style="width: 100%"  ng-model="ActivityData.workEffortName">
          </label>
        </div>
        <div class="item">
          <input type="text" readonly=“readonly”  placeholder="活动开始日期"  style="width: 45%;display: inline-block;background-color: white" id="startDate" ng-click="startDate()" >
          <input type="text" readonly=“readonly”  placeholder="活动结束日期"   style="width: 45%;display: inline-block;background-color: white;float: right" id="endDate" ng-click="endDate()" >
        </div>
        <div class="item">
          <label class="">
            <input type="text" readonly=“readonly” style="background-color: white" ng-click="openModalAddress()" placeholder="活动举办地点"  style="width: 100%" ng-model="ActivityData.address">
          </label>
        </div>
        <div class="item">
          <label class="">
            <textarea name="a" style="width:330px;height:150px;" placeholder="填写活动描述，让更多的人参与活动" ng-model="ActivityData.information">{{myActivtyList.information}}</textarea>
          </label>
        </div>
        <div class="item">
          <label>
            <button class="button button-block button-stable" ng-click="selectImg()">添加背景图片</button>
            <img ng-src="{{imageSrc}}"  id="myImage">
          </label>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer " style="margin-left: -6px;">
    <div class="tab-nav tabs globalColor" >
      <div  style="float:right">
        <button   class="button  globalColor" style="padding: 0;margin: 0;float: right;width: 150px;height: 47px;font-size: 20px;color: white" ng-click="createNewActivity()">创建活动</button>
      </div>
    </div>
  </div>
</ion-modal-view>
