<ion-view title="创建统计" hide-tabs="true" class="activity_matter">
  <ion-nav-bar class="bar-light">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="$ionicGoBack()">
        <i class="icon  ion-ios-arrow-back "></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="content ionic-pseudo">
      <div class="list card">
        <label class="item item-input item-stacked-label">
          <span>标题:</span>
          <input type="text"
                 placeholder="统计标题(必填20字以内)"
                 ng-model="itemMatter.surveyName" maxlength="20">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="del-title">介绍:</span>
          <textarea rows="5" placeholder="填写统计描述，让更多的人参与本次统计(50字)" maxlength="50"
                    ng-model="itemMatter.information">{{myActivtyList.information}}</textarea>
        </label>
      </div>
    </div>
  </ion-content>
  <div class="tab-nav tabs act-foot-btn">
    <a class="tab-item tab-item" ng-click="createMatter()">
      <span class="tab-create">立即创建</span>
    </a>
  </div>
</ion-view>
