<ion-view view-title="编辑">
  <!--<ion-nav-buttons side="right">-->
    <!--<button class="button button-clear">-->
      <!--取消-->
    <!--</button>-->
  <!--</ion-nav-buttons>-->
  <ion-content style="margin-bottom: 10%">
    <div class="content ionic-pseudo">
      <div class="list card">
        <div class="item">
          <label class="">
            <input type="text" placeholder="活动标题" value="{{myActivtyList.title}}" style="width: 100%"  ng-model="ActivityData.workEffortName">
          </label>
        </div>
        <div class="item">
            <input type="text" readonly=“readonly” placeholder="活动开始日期" value="{{myActivtyList.createTime}}" style="width: 45%;display: inline-block;background-color: white" id="startDate" ng-click="openDatePicker('start')" >
            <input type="text" readonly=“readonly” placeholder="活动开始时间" value="{{myActivtyList.createTime}}" style="width: 45%;float: right;background-color: white" id="startTime" ng-click="openTimePicker('start')" ng-model="ActivityData.startTime">
        </div>
        <div class="item">
            <input type="text" readonly=“readonly”  placeholder="活动结束日期" value="" style="width: 45%;display: inline-block;background-color: white" id="endDate" ng-click="openDatePicker('end')" >
            <input type="text" readonly=“readonly”  placeholder="活动结束时间" value="" style="width: 45%;float: right;background-color: white" id="endTime" ng-click="openTimePicker('end')" ng-model="ActivityData.endTime">
        </div>
        <div class="item">
          <label class="">
            <input type="text" readonly=“readonly” style="background-color: white" ng-click="openModalAddress()" placeholder="活动举办地点" value="{{myActivtyList.address}}{{myActivtyList.addressDet}}" style="width: 100%" ng-model="ActivityData.address">
          </label>
        </div>
        <div class="item">
          <label class="">
            <textarea name="a" style="width:330px;height:150px;" placeholder="填写活动描述，让更多的人参与活动" ng-model="ActivityData.information">{{myActivtyList.information}}</textarea>
          </label>
        </div>
        <div class="item">
          <label>
            <button class="button button-block button-stable" ng-click="selectImg()">添加背景图片</button>
            <img ng-src="{{imageSrc}}{{myActivtyList.img}}"  id="myImage">
          </label>
        </div>
        <div class="item" >
          <div class="row  row-wrap">
            <div class="col col-20 full-image" ng-repeat="image in myActivtyList.picture">
              <img ng-src={{image.img}} width="100%"/>
            </div>
          </div>
          <div class="row row-wrap">
            <div class="col col-20 full-image" ng-repeat="image in imageSrc1">
              <img ng-src={{image}} width="100%"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer " style="margin-left: -6px;">
    <div class="tab-nav tabs globalColor" >
      <div  style="float:right">
        <button class="button  button-balanced" style="padding: 0;margin: 0;float: right;width: 150px;height: 47px;font-size: 20px" ng-click="createNewActivity()">创建活动</button>
      </div>
    </div>
  </div>
</ion-view>
