<div class="modal" style="margin: 120% 0;background-color: #886aea">
  <!-- Modal header bar -->
    <h3 style="text-align: center;font-size: 17px;color: white;margin-top: 5%">分享</h3>
    <hr>
      <div class="row  row-wrap" style="border: 0">
        <div class="col col-50" ng-repeat="share in shareImgList" ng-click="chooseWay(share.name,activityList.workEffortId,partyId)" >
          <ion-item class="item-remove-animate item-avatar item-icon-top">
            <img ng-src="{{share.img}}">
            <p style="margin-top: 12%">{{share.name}}</p>
          </ion-item>
        </div>
        <button class="button button-block button-light" ng-click="closeNewTask()">取消</button>
    </div>
</div>
