<div class="modal">
  <ion-nav-bar>
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="taskModal.hide()">
        <i class="icon  ion-ios-arrow-back globalColorButton"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-header-bar>
    <h1 class="title">邀请好友</h1>
  </ion-header-bar>
  <ion-content id="share">
    <div class="share-container">
      <img class="img-Name" ng-src="{{originatorHeadImg}}"/>
      <label>
        <input type="text" id="originator" placeholder="请输入您的昵称" ng-model="originator.nickName"
               ng-blur="updateUserName()">
      </label>
      <span>OR</span>
      <label>
        <input type="button" value="使用微信头像及昵称" ng-if="weixin" ng-click="userWeixinInfo()">
      </label>
      <div class="preview-title">邀请函预览</div>
      <div class="share-preview">
        <div class="left">
          <div class="left-top">
            <p class="event-name">{{activityList.workEffortName}}</p>
          </div>
          <div class="left-bottom">
            <p class="event-date">时间:{{activityStartDate| date:'MM月dd'}}</p>
            <p class="event-address">地点:{{activityList.locationDesc}}</p>
          </div>
        </div>
        <div class="right">
          <h4>发起人</h4>
          <img ng-src="{{originatorHeadImg}}" height="24" width="24"/>
          <p>{{originator.nickName}}</p>
          <p>发起时间:</p>
          <p>2015-05-04</p>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="share-footer">
    <div class="row row-wrap">
      <div class="col col-20" ng-repeat="picture in shareImgList">
        <img class="share-footer" ng-src="{{picture.img}}"
             ng-click="chooseWay(picture.name,activityList.workEffortId,partyId)">
        <p>{{picture.name}}</p>
      </div>
    </div>
  </ion-footer-bar>
</div>

