<div class="modal">
  <ion-nav-bar>
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="taskModal.hide()">
        <i class="icon ion-android-arrow-back globalColorButton"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-header-bar>
    <h1 class="title">邀请好友</h1>
  </ion-header-bar>
  <ion-content id="share">
    <div class="share-container">
      <img class="img-Name" ng-src="{{originatorHeadImg}}"/>
      <label>
        <input type="text" id="originator" placeholder="请输入您的昵称" ng-model="originator.nickName"
               ng-blur="updateUserName()">
      </label>
      <span>OR</span>
      <label>
        <input type="button" value="使用微信头像及昵称" ng-if="weixin" ng-click="userWeixinInfo()">
      </label>
      <p>邀请方式</p>
      <div class="row padding row-wrap">
        <div class="col col-20" ng-repeat="picture in shareImgList">
          <img class="img-shareActivity" ng-src="{{picture.img}}"
               ng-click="chooseWay(picture.name,activityList.workEffortId,partyId)">
          <p>{{picture.name}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</div>
