/*活动首页***************************************************************************************************************/
.activityTabs {
  background-color: #FFDA44;
  text-align: center;
  color: black;
  height: 30%
}
.event-list {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  border-top: 0.1875rem solid silver;
}

.event-list img {
  width: 100%;
  height: 100%;
}

.event-list .event-top {
  margin: 0.375rem;
  flex: 3;
}

.event-list .event-top div:nth-child(1) {
  float: left;
  width: 8.4375rem;
  height: 6.625rem;
}

.event-list .event-top div:nth-child(2) {
  float: right;
  width: 60%;
  height: 6.625rem;
  position: relative;
}

.event-list .event-top .organizer-home{
  position: absolute;
  bottom:-10%;
  right: 0;
  color: #08d918;
}

.event-list h3 {
  font-size: 1rem;
  margin: 0.1875rem 0;
  color:#4d4d4d;
}

.event-list p {
  color: #717171;
  margin: 0.125rem 0;
  font-size: 0.875rem;

}

.event-list em {
  font-size: 0.625rem;
  color: #717171;
  font-weight: bold;
}



.event-list .activityTimer {
  background: url(../img/activityImg/icon_时间@2x.png) no-repeat center;
  background-size: 70%, 70%;
  margin-right: 0.1875rem;
}

.event-list .activityLocation {
  background: url(../img/activityImg/icon_地址@2x.png) no-repeat center;
  background-size: 60%, 60%;
  margin-right: 0.1875rem;
}

.event-list .activityOrganizer {
  font-size: 0.9375rem;
  margin: 0 0.25rem;
}

.event-list .event-bottom {
  flex: 1;
}

.event-bottom .join-count {
  float: left;
  width: 30%;
  height: 100%;
  text-align: center;
}

.event-bottom .join-count button {
  border-radius: 0.9375rem;
  letter-spacing: 0.1875rem;
  font-size: 0.8125rem;
  margin-top: 0.25rem;
  background-color: #FFDA44;
  border: 0;
  height: 1.5rem;
}

.event-bottom .from-start {
  float: right;
  width: 69%;
  height: 100%;
  text-align: right;
}

.event-bottom .from-start button {
  border-radius: 0.9375rem;
  letter-spacing: 0.3125rem;
  font-size: 1rem;
  border: 1px solid silver;
  background-color: white;
  margin-right: 0.3125rem;
  margin-top: 0.0625rem;
  height: 2rem;
}

.tipTextAct {
  font-size: 1.4rem;
  color: #9e9e9e;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 15%;
}

.history {
  position: absolute;
  top: 73%;
  left: 37%;
  font-size: 1.0rem;
  color: #9e9e9e;
}

/*活动详情***************************************************************************************************************/
#activityDel p {
  font-size: 13px;
  vertical-align: middle;
  white-space: normal;
  margin: 0;
  color: #4a4a4a;
}

#activityDel .item {
  border: 1px solid #D9D9D9;
  border-left: none;
  border-right: none;
}

#activityDel .header {
  border: solid #B9B9B9;
}

#activityDel .pe-num {
  font-size: 14px;
  color: #B9B9B9;
  position: absolute;
  top: 5px;
  right: 4%;
}

#activityDel .del-top {
  display: flex;
  padding: 0;
  height: 120px;
  width: 375px;
}

.del-left {
  padding: 3px 0 3px 16px;
  flex: 1;
}

.del-right {
  flex: 2;
}

#activityDel .item-thumbnail-left {
  border: 0;
  padding-left: 35%
}

#activityDel .img-header {
  height: 106px;
  width: 106px;
}

#activityDel .img-responsive {
  width: 40px;
  height:40px;
}

#activityDel .img-joinP {
  width: 30px;
  height: 30px;
  border-radius: 50%
}

#activityDel .img-zhuzi {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5%;
  left: 12%
}

#activityDel hr {
  color: #D9D9D9;
  border: 1px solid white;
  margin: 0;
}

.activityTimer {
  background: url(../img/activityImg/icon_时间@2x.png) no-repeat center;
  background-size: 58%, 58%;
  padding: 5%;
}
.activityTimerEnd {
  background: url(../img/activityImg/icon_时间@2x.png) no-repeat center;
  background-size: 58%, 58%;
  padding: 5%;
  opacity: 0;
}

.activityLocation {
  background: url(../img/activityImg/icon_地址@2x.png) no-repeat center;
  background-size: 58%, 58%;
  padding: 5%;
}

#activityDel .icon {
  vertical-align: middle;
  padding-right: 20px;
}

#activityDel .item-joinP {
  padding: 0 16px 0 16px;
  height: 100px;
}

#activityDel .item-wall {
  padding: 0 16px 0 16px;
}

#footer .yuyin {
  position: absolute;
  top: 15%;
  left: 5%;
}

/*#activityDel .row{*/
/*padding: 0;*/
/*}*/

#footer .yuyin img {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

#footer .yaoqing {
  position: absolute;
  top: 15%;
  right: 45%;
}

#footer button {
  width: 120px;
  border-radius: 18px;
  background-color: white;
  color: white;
  border: 0;
}

#footer .baoming {
  position: absolute;
  top: 15%;
  right: 5%;
}

#activityDel h3 {
  font-size: 15px;
  padding: 5px 0;
  color: #4a4a4a;
  border-bottom: 1px solid #D9D9D9;
}

#activityDel span {
  font-size: 13px;
}

#activityDel .activityAddress {
  margin-top: 10%;
}

#address {
  display: inline-block;
  width: 85%;
  resize: none;
}

.activityDetTabs {
  text-align: center;
  color: black;
  border-left: none;
  border-right: none;
  padding: 0;
}

.activityItemImg {
  background: url(../img/activityImg/icon_活动项@2x.png) no-repeat center top;
  background-size: 40%, 40%;
  padding: 5%;
}

#activityDel .col {
  color: #B9B9B9;
  height: 70px;
  text-align: center;
}

.activityFootSignUp {
  background: url(../img/activityImg/icon_报名@2x.png) no-repeat center top;
  background-size: 100%;
  padding: 5%;
  margin: 0;
}

.activityFootImg {
  background: url(../img/activityImg/icon_报名@2x.png) no-repeat center;
  background-size: 100%, 100%;
  padding: 5%;
}

.activityInvitationImg {
  background: url(../img/activityImg/邀请好友@2x.png) no-repeat center;
  background-size: 100%, 100%;
  padding: 5%;
}

#activityDel label {
  display: block;
}

#activityDel input {
  display: inline;
  width: 80%;
  background-color: white;
  color: black;
}

#activityDel textarea {
  background-color: white;
}

#activityDel input:nth-child(1) {
  margin-left: 29px;
}

#activityDel input[disabled] {
  color: black;
  opacity: 1
}

#activityDel textarea[disabled] {
  color: black;
  opacity: 1
}

#activityDel .activity-item img{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 5%;
  border: 0;
}

#activityDel .activity-item{
  margin: 10px auto;
  font-size: 14px;
}

/*活动项****************************************************************************************************************/
#activityItem .item-empty{
  width: 100%;
  text-align: center;
  margin-top: 250px;
  font-size: 26px;
  color: #4d4d4d;
}
#activityItem img{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 5%;
}
#activityItem span:last-child{
  white-space:normal;
  font-size: 14px;
  color: #4a4a4a;
  width: 80%;
}

/*活动事项**************************************************************************************************************/
#activityMatter hr{
  clear: both
}
#activityMatter p{
  float: left;
}
#activityMatter button{
  float: right;
}
#activityMatter h3{
  font-size: 18px;
  text-align: center;
}

/*活动邀请方式***********************************************************************************************************/
#share .share-container {
  text-align: center;
}

#share .img-Name {
  height: 6.375rem;
  width: 6.375rem;
  border-radius: 6.375rem;
  margin: 1.75rem 0 2rem 0;
}

#share span {
  display: block;
  background: url(../img/shareActivity/line_分割线@2x.png) no-repeat center;
  background-size: 100%, 100%;
  margin: 1.5rem 2.5625rem 0 2.5625rem;
  color: #999999;
}

#share input {
  -webkit-appearance: none;
  /*去除系统默认的样式*/
  width: 85%;
  height: 2.75rem;
  border: 1px #9e9e9e solid;
  border-radius: 2.5rem;
  margin: 0 auto;
  text-align: center;
  font-size: 0.9375rem;
  color: #999999;
}

#share input[type=button] {
  -webkit-appearance: none;
  /*去除系统默认的样式*/
  width: 85%;
  height: 2.75rem;
  border: 1px #08d918 solid;
  border-radius: 2.5rem;
  margin: 1.6875rem auto 0.3125rem auto;
  text-align: center;
  font-size: 0.9375rem;
  color: #FFFFFF;
  background-color: #08d918;
}

#share p {
  color: #4a4a4a;
}

#share .img-shareActivity {
  width: 3.4375rem;
  height: 3.4375rem;
}

#share .col p {
  font-size: 0.625rem;
}

#share .col {
  height: 5.625rem;
}

.share-preview {
  background: url(../img/shareActivity/组-1@2x.png) no-repeat center;
  background-size: 100%, 100%;
  width: 96%;
  height: 11.5rem;
  margin: 0 2%;
  display: flex;
}

.preview-title {
  color: black;
  font-size: 1rem;
}

.share-preview .left {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.share-preview .left-top {
  flex: 1;
  margin: 0 auto;
}

.event-name {
  margin: 2rem auto 0 auto;
  width: 100%;
  font-size: 1rem;
  font-weight: bolder;
  padding: 0 1.4375rem;
}

.event-date {
  margin: 0.625rem auto 0.3125rem auto;
  width: 80%;
}

.event-address {
  margin: 0.3125rem auto;
  width: 80%;
}

.share-preview .left-bottom {
  flex: 1.5;
}

.share-preview .right {
  flex: 1;
}

.share-preview .right p {
  margin: 0.3125rem auto;
}

.share-preview .create-date {
  text-align: left;
  font-size: 0.5rem;
  padding-left: 1rem;
}

.share-preview h4 {
  margin-top: 1.875rem;
  font-size: 1rem;
}

.share-preview img {
  display: block;
  margin: 0.3125rem auto;
  border-radius: 50%;
}

.share-footer {
  height: 12%;
}

.share-footer img {
  width: 2.5rem;
  height: 2.5rem;
}

.share-footer p {
  font-size: 0.875rem;
}

.share-footer .row {
  padding: 0;
}

.share-footer .col {
  text-align: center;
}

/*兼容性问题******************************************屏幕大小兼容性*******************************************************/

/*当页面大于1024px时，大屏幕，主要显示PC端*************/
@media (min-width: 1024px) {
  html {
    font-size: 24px;
  }
}

/*在768 和1024 像素之间的屏幕里，中等屏幕，分辨率低的PC  PAD*/
@media (min-width: 667px) and (max-width: 1023px) {
  html {
    font-size: 20px;
  }

  .tipTextAct {
    font-size: 3.5rem;
  }

  .history {
    font-size: 2.5rem;
  }
}

/*在375 和667 像素之间的屏幕里，中等屏幕，主要是手机*/
@media (min-width: 374px) and (max-width: 666px) {
  html {
    font-size: 16px;
  }

  .tipTextAct {
    font-size: 1.5rem;
  }

  .history {
    font-size: 1.0rem;
  }
}

/*在小于375px的屏幕里，微小屏幕，更低分辨率的手机*/
@media (max-width: 374px) {
  html {
    font-size: 14px;
  }

  .tipTextAct {
    font-size: 1.2rem;
  }

  #share .img-Name {
    height: 4.375rem;
    width: 4.375rem;
    border-radius: 50%;
    margin: 1.75rem 0 0 0;
  }

  #share input {
    width: 85%;
    height: 35px;
  }

  #share input[type=button] {
    width: 85%;
    height: 35px;
  }

  .history {
    font-size: 0.8rem;
  }

  #activityDel .item-thumbnail-left {
    padding-left: 40%
  }

  #activityDel .del-top {
    display: flex;
    padding: 0;
    height: 120px;
    width: 320px;
  }

  #activityDel input {
    white-space: normal
  }
}
