/*活动详情***************************************************************************************************************/

/*全局*/
#activityDel .del-title {
  padding: 0 0 0 5px;
  height: 24px;
  border-left: 7px solid #FFDA44;
  font-size: 14px;
  color: #1d1d1d;
  z-index: 999;
}

#activityDel input[disabled] {
  background-color: white;
  color: #1d1d1d;
  opacity: 1
}

/*日期*/
#activityDel .del-date {
  display: flex;
  padding: 0;
  height: 100px;
  width: 100%;
}

.del-left, .del-right {
  flex: 1;
  text-align: center;
}

.del-left img, .del-right img {
  height: 50px;
  width: 50px;
  margin: 8px 0 0 0 ;
}

.del-left input[type="text"], .del-right input[type="text"] {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #1d1d1d;
  border: 0;
}

#activityDel .pe-num {
  font-size: 14px;
  position: absolute;
  top: 3px;
  right: 4%;
  color: #83ccfc;
}

/*地址*/
#activityDel .del-address {
  height: 47px;
  padding: 0;
  margin: 0;
}

.del-address-left {
  float: left;
  width: 70px;
  height: 100%;
  text-align: center;
}

.del-address-left img {
  width: 35px;
  height: 46px;
  padding: 10px 5px;
}

.del-address-right {
  float: right;
  height: 100%;
}

.del-address-right input {
  width: 100%;
  height: 50px;
}
.del-address-right input[disabled] {
  width: 100%;
  height: 45px;
}

/*介绍*/
#activityDel textarea {
  line-height: 20px;
  color: #4d4d4d;
  background-color: white;
  width: 100%;
  resize: none;
}

#activityDel textarea[disabled] {
  color: #1d1d1d;
  opacity: 1;
  resize: none;
  font-size: 14px;
}

/*照片墙*/
#activityDel .item-wall {
  padding: 0 16px 0 16px;
}

#activityDel .img-responsive {
  height: 91px;
  width: 91px
}

/*评论*/
#activityDel .del-discuss {
  float: right;
  background-color: #83ccfc;
  border: 0;
  border-radius: 5px;
  height: 28px;
  width: 79px;
  font-size: 14px;
  color: #ffffff;
  margin-right: 7px;
  overflow: auto;
  z-index: 99999;
}

/*参与人*/
#activityDel .del-member {
  width: 41px;
  height: 41px;
  border-radius: 50%;
}

#activityDel .del-organizer {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8%;
  left: 12%
}

/*底部导航*/

.tab-Del-Nac {
  font-size: 11px;
  color: #ffffff;
}






