/*活动账单样式***********************************************************************************************************/
#activityBill .item {
  margin: 15px 17.5px;
  padding: 21px;
  box-shadow: 0 0 10px 10px #EFEFEF;
}

#activityBill .list-card {
}

#activityBill .bill-title {
  position: relative;
}

#activityBill h2 {
  font-size: 1.6875rem;
  color: #9bc4ff;
  margin-bottom: 0.625rem;
  width: 65%;
  white-space: normal;
}

#activityBill p {
  font-size: 20px;
  color: #1d1d1d;
  margin-top: 5px;
}

#activityBill img {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 17.5px;
}

#activityBill .blii-list {
  border-top: 1px solid #f0eff5;
  margin-top: 16px;
  /*display: none;*/
  position: relative;
  margin-bottom: 20px;
  padding-top: 10px;
}

#activityBill .blii-item {
  flex: 1px;
  font-size: 15px;
  color: #1d1d1d;
  text-align: center;
  margin: 5px 0;
}

#activityBill .wacatShare {
  position: absolute;
  top: 0px;
  right: 17.5px;
  font-size: 16px;
  color: #1AAD19;
}

#activityBill input {
  display: inline-block;
  width: 30%;
  border: 1px solid silver;
  padding: 0;
  position: absolute;
  left: 20%;
  height: 28px;
}

#activityBill .Payment-status {
  position: absolute;
  right: 5%;
  height: 28px;
  background-color: #FFDA44;
  border: 0;
  border-radius: 5px;
}

#activityBill .Payment-edit {
  position: absolute;
  right: 25%;
  height: 28px;
  background-color: #4cd964;
  border: 0;
  border-radius: 5px;
  display: none;
}

#activityBill .partition {
  position: relative;
  height: 30px;
}

/*创建活动账单***********************************************************************************************************/

.activity_bill ion-content {
  background-color: #f2f2f2;
  font-size: 15px
}

.activity_bill .delete_member {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.activity_bill .bill_member {
  color: #1d1d1d;
  width: 40%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: inherit
}

.activity_bill .button {
  width: 100%;
  background-color: #FFDA44;
  font-size: 15px;
  color: #1d1d1d;
  border: 0
}
