/*全局样式设置***********************************************************************************************************/
.globalColor {
  background-color: red;
}

.globalColorButton {
  color: black;
}

.tab-create {
  font-size: 20px;
  color: #1d1d1d;
}

.act-foot-btn {
  background-color: #FFDA44;
}

/*上拉菜单*/
.platform-android.action-sheet-cancel {
  display: block !important;
  margin-top: 4px;
}

.platform-android.action-sheet.button {
  border-width: 1px 0 0px 0;
  border-style: solid;
  border-color: #DEDEDE;
  text-align: center;
}

/*弹出警告框*/
.popup-container.active .popup {
  border-radius: 15px;
}

.popup-title {

}

/*tabs图标**************************************************************************************************************/
.tab-item i.icon {
  margin-top: 1px;
}

.bar-home-on {
  background: url(../img/tabs/首页_选中.png) no-repeat center top;
  background-size: 25%, 25%;
  padding: 5%;
}

.bar-home-off {
  background: url(../img/tabs/首页.png) no-repeat center top;
  background-size: 25%, 25%;
  padding: 5%;
}

.bar-contact-on {
  background: url(../img/tabs/联系人_选中.png) no-repeat center top;
  background-size: 25%, 25%;
  padding: 5%;
}

.bar-contact-off {
  background: url(../img/tabs/联系人.png) no-repeat center top;
  background-size: 25%, 25%;
  padding: 5%;
}

.bar-my-on {
  background: url(../img/tabs/我_选中.png) no-repeat center top;
  background-size: 25%, 25%;
  padding: 5%;
}

.bar-my-off {
  background: url(../img/tabs/我.png) no-repeat center top;
  background-size: 25%, 25%;
  padding: 5%;
}

.bar-message-on {
  background: url(../img/tabs/消息_选中.png) no-repeat center top;
  background-size: 25%, 25%;
  padding: 5%;
}

.bar-message-off {
  background: url(../img/tabs/消息.png) no-repeat center top;
  background-size: 25%, 25%;
  padding: 5%;
}

.bar-newActivity-on {
  position: fixed;
  bottom: 23%;
  z-index: 999;
  color: red;
  right: 40%;
  width: 20%;
  height: 100%;
  background: url(../img/tabs/newTabs/icon-创建活动@2x.png) no-repeat center top;
  background-size: 60%, 60%;
}

/*登陆******************************************************************************************************************/
#login .inputLogin {
  -webkit-appearance: none; /*去除系统默认的样式*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 点击高亮的颜色*/
  border: 1px #9e9e9e solid;
  border-radius: 40px;
  width: 80%;
  height: 44px;
  margin: 20px auto 0 auto;
  font-size: 16px;
  text-indent: 20px;
}

#login .buttonLogin {
  -webkit-appearance: none; /*去除系统默认的样式*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 点击高亮的颜色*/
  border: 1px #9e9e9e solid;
  border-radius: 40px;
  width: 80%;
  height: 45px;
  background-color: #FFDA44;
  margin: 17px 10% 0 10%;
  font-size: 16px;
  color: white;
}

#login span {
  display: block;
  background: url(../img/shareActivity/line_分割线@2x.png) no-repeat center;
  background-size: 100%, 100%;
  margin: 24px 41px 5px 41px;
  color: #999999;
  text-align: center
}

#login .captcha {
  position: absolute;
  top: 37%;
  right: 15%;
}

#login img {
  height: 60px;
  width: 60px;
}

#wecat .buttonLogin {
  border: 1px #1AAD19 solid;
  border-radius: 40px;
  width: 80%;
  height: 45px;
  background-color: white;
  margin: 5% 10% 15% 10%;
  font-size: 20px;
  color: #1AAD19;
}

/*兼容性问题******************************************屏幕大小兼容性*******************************************************/

/*当页面大于1024px时，大屏幕，主要显示PC端*************/
@media (min-width: 1024px) {
}

/*在768 和1024 像素之间的屏幕里，中等屏幕，分辨率低的PC  PAD*/
@media (min-width: 767px) and (max-width: 1023px) {
  html {
    font-size: 20px;
  }

  .tipTextAct {
    font-size: 3.5rem;
  }

  .history {
    font-size: 2.5rem;
  }

  .bar-home-on {
    background-size: 20%, 20%;
  }

  .bar-home-off {
    background-size: 20%, 20%;
  }

  .bar-contact-on {
    background-size: 20%, 20%;
  }

  .bar-contact-off {
    background-size: 20%, 20%;
  }

  .bar-my-on {
    background-size: 20%, 20%;
  }

  .bar-my-off {
    background-size: 20%, 20%;
  }

  .bar-message-on {
    background-size: 20%, 20%;
  }

  .bar-message-off {
    background-size: 20%, 20%;
  }

  .bar-newActivity-on {
    background-size: 20%, 20%;
  }
}

/*在375 和768 像素之间的屏幕里，中等屏幕，主要是手机*/
@media (min-width: 360px) and (max-width: 767px) {
  html {
    font-size: 16px;
  }

  .tipTextAct {
    font-size: 1.5rem;
  }

  .history {
    font-size: 1.0rem;
  }
}

/*在小于375px的屏幕里，微小屏幕，更低分辨率的手机*/
@media (max-width: 359px) {
  html {
    font-size: 14px;
  }

  .tipTextAct {
    font-size: 1.2rem;
  }

  .history {
    font-size: 0.8rem;
  }

  .bar-home-on {
    background-size: 30%, 30%;
  }

  .bar-home-off {
    background-size: 30%, 30%;
  }

  .bar-contact-on {
    background-size: 30%, 30%;
  }

  .bar-contact-off {
    background-size: 30%, 30%;
  }

  .bar-my-on {
    background-size: 30%, 30%;
  }

  .bar-my-off {
    background-size: 30%, 30%;
  }

  .bar-message-on {
    background-size: 30%, 30%;
  }

  .bar-message-off {
    background-size: 30%, 30%;
  }

  .bar-newActivity-on {
    background-size: 75%, 75%;
  }

  #activityDel .item-thumbnail-left {
    padding-left: 40%
  }

  .empty {
    margin-top: 215px;
  }
}
