/*活动投票***************************************************************************************************************/

.empty{
  width: 100%;
  text-align: center;
  margin-top: 250px;
  font-size: 26px;
  color: #4d4d4d;
}
