/*活动投票列表***************************************************************************************************************/

.vote h2 {
  padding-top: 8%;
}

.vote .vote-state-open {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffc900;
  color: white;
  height: 18px;
  width: 68px;
  text-align: center;
  font-size: 12px
}

.vote .vote-button-open {
  height: 34px;
  background-color: #ffc900;
  width: 100%;
  text-align: center;
  color: white;
  line-height: 34px
}

.vote .vote-state-close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #aaaaaa;
  color: white;
  height: 18px;
  width: 68px;
  text-align: center;
  font-size: 12px
}

.vote .vote-button-close {
  height: 34px;
  background-color: #aaaaaa;
  width: 100%;
  text-align: center;
  color: white;
  line-height: 34px
}

.vote .item-avatar {
  position: relative;
  border: 0;
}

.vote .item-complex .item-content {
  padding: 5px;
}

.vote .vote-name {
  padding-bottom: 22px;
  text-indent: 12px;
  width: 100%;
  white-space: normal
}

.vote input {
  width: 100%;
}

/*活动投票执行页面********************************************************************************************************/
.vote_radio {
  float: right;
  font-size: 12px;
  color: #787878
}

.vote_selected {
  background-color: #ffeca1;
  display: block;
  font-size: 14px
}

.vote_member {
  text-align: right;
  color: #979797;
  font-size: 12px
}

.vote_member_count {
  font-size: 12px;
  color: #979797
}

/*活动投票创建页面********************************************************************************************************/
.vote_create ion-content {
  background-color: #d9d9d9;
}

.vote_create .item {
  border-top: 8px solid #D9D9D9;
  font-size: 15px
}

[name=voteItem] {
  display: inline-block;
  width: 90%;
  resize: none;
  vertical-align: middle
}

.vote_create .button-full {
  font-size: 17px;
  color: #a5a5a5;
  margin: 0;
  height: 32px;
  background-color: white
}

.vote_item_details {
  background-color: #D9D9D9;
  color: #a5a5a5;
  text-align: center
}

.vote_create .button-energized{
  height: 33px;
  width: 90%;
  margin-top: 20px;
  color: #000000;
  text-align: center
}
/*兼容性问题******************************************屏幕大小兼容性*******************************************************/

/*当页面大于1024px时，大屏幕，主要显示PC端*************/
@media (min-width: 1024px) {
}

/*在768 和1024 像素之间的屏幕里，中等屏幕，分辨率低的PC  PAD*/
@media (min-width: 767px) and (max-width: 1023px) {
  html {
    font-size: 20px;
  }
}

/*在375 和768 像素之间的屏幕里，中等屏幕，主要是手机*/
@media (min-width: 374px) and (max-width: 767px) {
  html {
    font-size: 16px;
  }

}

/*在小于375px的屏幕里，微小屏幕，更低分辨率的手机*/
@media (max-width: 374px) {
  html {
    font-size: 14px;
  }

}
