/*活动投票***************************************************************************************************************/

.empty {
  width: 100%;
  text-align: center;
  margin-top: 250px;
  font-size: 26px;
  color: #4d4d4d;
}

/*兼容性问题******************************************屏幕大小兼容性*******************************************************/

/*当页面大于1024px时，大屏幕，主要显示PC端*************/
@media (min-width: 1024px) {
}

/*在768 和1024 像素之间的屏幕里，中等屏幕，分辨率低的PC  PAD*/
@media (min-width: 767px) and (max-width: 1023px) {
  html {
    font-size: 20px;
  }
}

/*在375 和768 像素之间的屏幕里，中等屏幕，主要是手机*/
@media (min-width: 374px) and (max-width: 767px) {
  html {
    font-size: 16px;
  }

}

/*在小于375px的屏幕里，微小屏幕，更低分辨率的手机*/
@media (max-width: 374px) {
  html {
    font-size: 14px;
  }

  .empty {
    margin-top: 215px;
  }
}
